﻿@model DemoMacmartsBL.ViewModel.UserVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/other/demo.css">
<link rel="stylesheet" href="~/css/other/example.wink.css">

<script src="~/js/other/hideShowPassword.js"></script>
<script src="~/js/Pages/MyProfile.js"></script>

<link rel="stylesheet" href="~/Scripts/dropzone/basic.css">
<link rel="stylesheet" href="~/Scripts/dropzone/dropzone.css">
<script src="~/Scripts/dropzone/dropzone.js"></script>
<style>
    .userpic {
        padding: 10px;
    }
</style>
<div class="content-header">
    <div class="header-section">
        <h1><i class="gi gi-settings"></i>My Profile</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-6">

        <div class="block">
            <div class="block-title">
                <h2>User Profile</h2>
            </div>

            <form class="form-horizontal form-bordered">
                @Html.HiddenFor(c => c.UserId)
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">First Name<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.FirstName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter First Name" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Last Name<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.LastName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Last Name" })
                    </div>

                </div>
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Email 1 <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.Email1, new { @name = "example-text-input", @disabled = "disabled", @class = "form-control  input-sm", @placeholder = "Enter EmailId" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Email 2</label>
                        @Html.TextBoxFor(c => c.Email2, new { @name = "example-text-input", @disabled = "disabled", @class = "form-control  input-sm", @placeholder = "Enter Email2" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Phone 1 <span class="text-danger"></span></label>
                        @Html.TextBoxFor(c => c.Phone1, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Phone 1" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Phone 2</label>
                        @Html.TextBoxFor(c => c.Phone2, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Phone 2" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Role : </label>
                        @if (Model.UserRole == "A")
                        {
                            <span>Administrator</span>
                        }
                        else if (Model.UserRole == "S")
                        {
                            <span>Sales Administrator</span>
                        }
                        else if (Model.UserRole == "P")
                        {
                            <span>Purchase Administrator</span>
                        }
                        else if (Model.UserRole == "I")
                        {
                            <span>Inventory Administrator</span>
                        }                        
                    </div>

                    <div class="col-md-6">

                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label" for="example-text-input">Profile Picture : </label>
                    </div>

                    <div class="col-md-10">
                        <div class="dropzone" id="divlogo">
                        </div>
                        @Html.HiddenFor(c => c.UserPic)
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-10">
                        @if (Model.UserPic != "" && Model.UserPic != null)
                        {
                            <img src="https://upload.macmarts.com/Upload/images/@Model.UserPic" class="userpic" id="imgUserPic" style="display:block;" />
                        }
                        else
                        {
                            <img src="" id="imgUserPic" class="userpic" style="display:none;" />
                        }
                    </div>


                </div>

                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" onclick="UpdateProfile();" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Update </button>
                    </div>
                </div>

            </form>

        </div><!--End of block -->
    </div><!--En dof col-md-6 -->

    @*<div class="col-md-6">

        <div class="block">
            <div class="block-title">
                <h2>Change Password</h2>
            </div>

            <form id="frmchangepassword" class="form-horizontal form-bordered">

                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12 form-group">
                        <label class="control-label col-md-3 col-sm-3 padtop_popup">Old Password</label>
                        <div class="col-md-7 col-sm-7">
                            @if (MacMacmartsBL.ViewModel.UsersVM._IsOffice365User == true)
                            {
                                <input type="text" disabled name="txtoldp" id="txtoldp" class="login-field  login-field-password" placeholder="Enter Old Password" />
                            }
                            else
                            {
                                <input type="text" name="txtoldp" id="txtoldp" class="login-field  login-field-password" placeholder="Enter Old Password" />
                            }

                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 form-group">
                        <label class="control-label col-md-3 col-sm-3 padtop_popup">New Password</label>
                        <div class="col-md-7 col-sm-7">
                            @if (MacMacmartsBL.ViewModel.UsersVM._IsOffice365User == true)
                            {
                                <input type="text" name="txtnewp" disabled id="txtnewp" onkeyup="javascript: passwordStrength($(this).val());" class="login-field  login-field-password" placeholder="Enter New Password" />
                            }
                            else
                            {
                                <input type="text" name="txtnewp" id="txtnewp" onkeyup="javascript: passwordStrength($(this).val());" class="login-field  login-field-password" placeholder="Enter New Password" />
                            }
                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 form-group">
                        <label class="control-label col-md-3 col-sm-3 padtop_popup">Confirm Password</label>
                        <div class="col-md-7 col-sm-7">
                            @if (MacMacmartsBL.ViewModel.UsersVM._IsOffice365User == true)
                            {
                                <input type="text" name="txtconfirmp" disabled id="txtconfirmp" class="login-field  login-field-password" placeholder="Enter Confirm Password" />
                            }
                            else
                            {
                                <input type="text" name="txtconfirmp" id="txtconfirmp" class="login-field  login-field-password" placeholder="Enter Confirm Password" />
                            }
                        </div>

                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 form-group">
                        <label class="control-label col-md-3 col-sm-3 padtop_popup" style="width:100%;text-align:left;padding-left:30px;" id="lblpasswordindicator"></label>
                    </div>

                </div>
                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3">
                        @if (DemoMacmartsBL.ViewModel.UserVM._IsOffice365User == true)
                        {
                            <button type="button" class="btn btn-sm btn-primary disabled"><i class="fa fa-angle-right"></i> Update Password</button>
                        }
                        else
                        {
                            <button type="button" onclick="javascript:ChangePassword();" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Update Password</button>
                        }
                    </div>
                </div>

            </form>

        </div><!--End of block -->
    </div><!--En dof col-md-6 -->*@


</div><!--End of row -->
<script>
    $('#txtoldp').hidePassword(true);
    $('#txtnewp').hidePassword(true);
    $('#txtconfirmp').hidePassword(true);

    var maxImageWidth = 300,maxImageHeight = 300;

    Dropzone.autoDiscover = false;
    Dropzone.options.myAwesomeDropzone = false;


    $("#divlogo").dropzone({
        maxFiles: 1,
        dictDefaultMessage: "Drop file here to upload OR Click here",
        addRemoveLinks: true,
        init: function()
        {
            this.on("thumbnail", function (file) {
                // Do the dimension checks you want to do
                if (file.width > maxImageWidth || file.height > maxImageHeight) {
                    file.rejectDimensions()
                }
                else {
                    //file.acceptDimensions();
                }
            });

            this.on("removedfile", function (file) {
                //Remove from server
                document.getElementById('imgUserPic').style.display = 'none';
                $("#imgUserPic").removeAttr("src");
                $('#UserPic').val("");
            });

              this.on("maxfilesexceeded", function(file){
                    ShowMessage("You can not upload more than 1 file.","no","File Upload");
                });
        },
        accept: function (file, done) {
            console.log(file);
            if ((file.type).toLowerCase() != "image/jpg" &&
                    (file.type).toLowerCase() != "image/gif" &&
                    (file.type).toLowerCase() != "image/jpeg" &&
                    (file.type).toLowerCase() != "image/png"
                    ) {
                ShowMessage('Please upload image file only.', "no", "My Profile");
                done("Invalid file");
            }
            else {
                file.rejectDimensions = function ()
                {
                    ShowMessage('Please upload image only by 300*300 pixel in size.', "no", "My Profile");
                    done("Invalid dimension.");
                };
                done();
            }
        },
        url: "/MyProfile/FileUpload/",
        success: function (file, response) {
            debugger;
            if (response.Result == "OK")
            {
                document.getElementById('imgUserPic').style.display = 'block';
                $('#UserPic').val(response.FileName);
                $("#imgUserPic").removeAttr("src");
                $("#imgUserPic").attr('src', 'https://upload.macmarts.com/Upload/images/'+response.FileName);
            }
            else
            {
                ShowMessage(response.Result, "no", "Supplier Master");
            }

            console.log(response);
        },
        maxfilesexceeded :function(file)
        {
            this.removeFile(file);
        }
        //,removedfile: function (file, serverFileName) {
        //    //alert(file.name);
        //}
    });


</script>


