﻿
@{
    ViewBag.Title = "Lock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/other/demo.css">
<link rel="stylesheet" href="~/css/other/example.wink.css">

<script src="~/js/other/hideShowPassword.js"></script>

<style>
    .userpic {
        padding: 10px;
    }
</style>
@*<div class="content-header">
        <div class="header-section">
            <h1><i class="gi gi-settings"></i>Lock Account</h1>
        </div>
    </div>*@



<div class="row">
    <div class="col-md-12">
        <div class="block full">
            <div class="block-title">
                <h2><label>Lock Account</label></h2>
            </div>
            <div>
                <form class="form-horizontal form-bordered">
                    <div class="form-group">

                        <div class="col-md-6">
                            <table id="tblEmailInfo" class="table table-vcenter table-condensed table-bordered macmart-datatable">
                                <tbody>
                                    <tr>
                                        <td colspan="2"><b>Please Enter Password to Lock Account.</b></td>
                                    </tr>
                                    <tr>
                                        <td width="30%">Password </td>
                                        <td width="70%"><input type="password" value="" id="txtpassword" class="form-control" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align:center;">
                                            <button type="button" class="btn btn-sm btn-primary" onclick="ConfirmLockAccount()" id="btnsendagain">Confirm</button>
                                            @*<button type="button" class="btn btn-sm btn-warning" id="btnclose">Close</button>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmLockAccount() {
        var p = document.getElementById('txtpassword').value;
        if (p !== "") {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/MyProfile/LockAccount",
                data: "{p : '" + p + "'}",
                success: function (data) {
                    if (data.Result == "OK") {
                        ShowMessage("Your account locked successfully.", "yes", "Lock Account", "/Login/Index");
                    }
                    else {
                        ShowMessage(data.Result, "no", "Lock Account");
                    }

                },
                error: function (error) {
                    ShowMessage(error, "no", "Change Theme");
                }
            });
        }
        else {
            ShowMessage("Please enter Password", "no", "Lock Account");
            return false;
        }

    }
    $("#btnModalOk").click(function () {
        debugger;
        window.location = 'Login/Index';
    });

</script>

