﻿@model DemoMacmartsBL.ViewModel.UserVM
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/other/demo.css">
<link rel="stylesheet" href="~/css/other/example.wink.css">

<script src="~/js/other/hideShowPassword.js"></script>
<script src="~/js/Pages/MyProfile.js?v=?5.1"></script>

<link rel="stylesheet" href="~/Scripts/dropzone/basic.css">
<link rel="stylesheet" href="~/Scripts/dropzone/dropzone.css">
<script src="~/Scripts/dropzone/dropzone.js"></script>
<style>
    .userpic {
        padding: 10px;
    }
</style>
<div class="content-header">
    <div class="header-section">
        <h1><i class="gi gi-settings"></i>My Profile</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-6">

        <div class="block">
            <div class="block-title">
                <h2>User Profile</h2>
            </div>

            <form class="form-horizontal form-bordered">
                @Html.HiddenFor(c => c.UserId)
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">First Name<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.FirstName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter First Name" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Last Name<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.LastName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Last Name" })
                    </div>

                </div>
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Email Id <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.EmailId, new { @name = "example-text-input", @disabled = "disabled", @class = "form-control  input-sm", @placeholder = "Enter Email Id" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Alternate Email Id</label>
                        @Html.TextBoxFor(c => c.AltEmailId, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Alternate Email Id" })
                    </div>

                </div>
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Phone No </label>
                        @Html.TextBoxFor(c => c.Phone, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Phone No" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Alternate Phone No</label>
                        @Html.TextBoxFor(c => c.AltPhoneNo, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Alternate Phone No" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Role </label>
                        <br />
                        @if (Model.UserRole == "LA")
                        {
                            <span>Administrator</span>
                        }
                        else if (Model.UserRole == "GU")
                        {
                            <span>General User</span>
                        }

                        else if (Model.UserRole == "V")
                        {
                            <span>Supplier</span>
                        }
                    </div>



                </div>

                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" onclick="javascript: UpdateProfile();" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Update </button>
                    </div>
                </div>

            </form>

        </div><!--End of block -->
    </div><!--En dof col-md-6 -->

    <div class="col-md-6">
        <div class="block">
            <div class="block-title">
                <h2>Change Password</h2>
            </div>

            <form id="frmchangepassword" class="form-horizontal form-bordered">

                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12 form-group">
                        <label class="control-label col-md-3 col-sm-3 padtop_popup">Old Password</label>
                        <div class="col-md-7 col-sm-7">

                            <input type="text" name="txtoldp" id="txtoldp" class="login-field  login-field-password" placeholder="Enter Old Password" />

                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 form-group">
                        <label class="control-label col-md-3 col-sm-3 padtop_popup">New Password</label>
                        <div class="col-md-7 col-sm-7">

                            <input type="text" name="txtnewp" id="txtnewp" onkeyup="javascript: passwordStrength($(this).val());" class="login-field  login-field-password" placeholder="Enter New Password" />

                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 form-group">
                        <label class="control-label col-md-3 col-sm-3 padtop_popup">Confirm Password</label>
                        <div class="col-md-7 col-sm-7">

                            <input type="text" name="txtconfirmp" id="txtconfirmp" class="login-field  login-field-password" placeholder="Enter Confirm Password" />

                        </div>

                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 form-group">
                        <label class="control-label col-md-3 col-sm-3 padtop_popup" style="width:100%;text-align:left;padding-left:30px;" id="lblpasswordindicator"></label>
                    </div>

                </div>
                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3">

                        <button type="button" onclick="javascript:ChangePassword();" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Update Password</button>

                    </div>
                </div>

            </form>

        </div><!--End of block -->
    </div><!--En dof col-md-6 -->


</div><!--End of row -->
<script>
    $("#Phone,#AltPhoneNo").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
    function RemovePic()
    {
        jQuery.ajax({
            url: '/MyProfile/RemovePic',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ a: 'a' }),
            success: function (data) {
                debugger;
                if (data.Result == "OK") {
                    ShowMessage("Profile pic removed successfully.", "yes", "My Profile","/MyProfile/Index");
                    $('#hrefremove').hide();
                    $("#imgUserPic").attr('src', 'https://upload.macmarts.com/Upload/images/default.png');
                }
            },
            error: function (xhr) {
                debugger;

            }
        });

    }


    $('#txtoldp').hidePassword(true);
    $('#txtnewp').hidePassword(true);
    $('#txtconfirmp').hidePassword(true);

    var maxImageWidth = 300,maxImageHeight = 300;

    Dropzone.autoDiscover = false;
    Dropzone.options.myAwesomeDropzone = false;


    $("#divlogo").dropzone({
        maxFiles: 1,
        dictDefaultMessage: "Drop file here to upload OR Click here",
        addRemoveLinks: true,
        init: function()
        {
            this.on("thumbnail", function (file) {
                // Do the dimension checks you want to do
                if (file.width > maxImageWidth || file.height > maxImageHeight) {
                    file.rejectDimensions()
                }
                else {
                    //file.acceptDimensions();
                }
            });

            this.on("removedfile", function (file) {
                //Remove from server
                document.getElementById('imgUserPic').style.display = 'none';
                $("#imgUserPic").removeAttr("src");
                $('#UserPic').val("");
            });

              this.on("maxfilesexceeded", function(file){
                    ShowMessage("You can not upload more than 1 file.","no","File Upload");
                });
        },
        accept: function (file, done) {
            console.log(file);
            if ((file.type).toLowerCase() != "image/jpg" &&
                    (file.type).toLowerCase() != "image/gif" &&
                    (file.type).toLowerCase() != "image/jpeg" &&
                    (file.type).toLowerCase() != "image/png"
                    ) {
                ShowMessage('Please upload image file only.', "no", "My Profile");
                done("Invalid file");
            }
            else {
                file.rejectDimensions = function ()
                {
                    ShowMessage('Please upload image only by 300*300 pixel in size.', "no", "My Profile");
                    done("Invalid dimension.");
                };
                done();
            }
        },
        url: "/MyProfile/FileUpload/",
        success: function (file, response) {
            debugger;
            if (response.Result == "OK")
            {
                document.getElementById('imgUserPic').style.display = 'block';
                $('#UserPic').val(response.FileName);
                $("#imgUserPic").removeAttr("src");
                $("#imgUserPic").attr('src', 'https://upload.macmarts.com/Upload/images/'+response.FileName);
            }
            else
            {
                ShowMessage(response.Result, "no", "Supplier Master");
            }

            console.log(response);
        },
        maxfilesexceeded :function(file)
        {
            this.removeFile(file);
        }
        //,removedfile: function (file, serverFileName) {
        //    //alert(file.name);
        //}
    });


</script>

