﻿Please find instructions below for the new password that you requested.
<br /><br />
Please click on the link below to set a new password within 24 hours.
<br />
<a href="#URL#" target="_blank">#URL#</a>
<br /><br />
If you are not the intended recipient of this e-mail, please delete this mail.<br />
In case, if you have further queries, please do not hesistate to drop us an email at <a href="mailto:info@macmarts.com">info@macmarts.com</a>. We truly appreciate your business.
<br /><br /><br /><br />                                    
Best Regards,<br />
Macmarts Support Team.                              
                           