﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Master | Online Project Procurement System | Macnovate Ltd.</title>

    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="../img/favicon.png">

    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="../css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->
    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="../css/themes.css">
    <!-- END Stylesheets -->
    <!-- The  stylesheet of this template to overwrites css properties -->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- END Stylesheets -->
    <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="../js/modernizr-respond.min.js"></script>
</head>
<body>
    <!-- Login Full Background -->
    <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
    <img src="../img/placeholders/backgrounds/login_full_bg.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">
    <!-- END Login Full Background -->
    <!-- Login Container -->
    <div id="login-container" class="animation-fadeIn">
        <!-- Login Title -->
        <div class="login-title text-center">
            <h1>
                <img class="logo_one" src="../img/logo.png" class="img-responsive" />
                <div class="clearfix"></div>
                <span style="color:black;"><strong>Improve your experience</strong></span>
            </h1>
        </div>
        <!-- END Login Title -->
        <!-- Login Block -->
        <div class="block push-bit">
            <!-- Login Form -->
            <form id="form-login" class="form-horizontal form-bordered form-control-borderless">
                <div class="form-group">
                    <div class="col-xs-12">
                        Your are using a web browser we don't support.
                        <br />
                        Try Google Chrome to have better experience on Macmarts.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12" style="text-align:center;">
                        <img width="200px;" src="../img/chrome-logo.png" />
                    </div>
                </div>
                
            </form>
            <!-- END Login Form -->



        </div>
        <!-- END Login Block -->
    </div>
   
    <!-- END Login Container -->
    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="../js/jquery-1.12.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/app.js"></script>
   

</body>
</html>

