﻿@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Macmarts Admin Portal | Online Project Procurement System | Macnovate Ltd.</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="../images/favicon.png">

    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="../css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->
    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="../css/themes.css">
    <!-- END Stylesheets -->
    <!-- The  stylesheet of this template to overwrites css properties -->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- END Stylesheets -->
    <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="../js/modernizr-respond.min.js"></script>
    
</head>
<body>
    <!-- Login Background -->
    <div id="login-background">
        <!-- For best results use an image with a resolution of 2560x400 pixels (prefer a blurred image for smaller file size) -->
       
    </div>
    <!-- END Login Background -->
    <!-- Login Container -->
    <div id="login-container"  class="animation-fadeIn">
        <!-- Login Title -->
        <div class="login-title text-c" style="padding-top:20px !important;padding-left:20px !important;padding-bottom:10px !important">
            @*<h1><i class="gi gi-flash"></i> <strong>ProUI</strong><br><small>Please <strong>Login</strong> or <strong>Register</strong></small></h1>*@
            <img src="../images/Latestlogo.png" class="img-responsive" alt="Macmarts" width="45%" />
        </div>
        <!-- END Login Title -->
        <!-- Login Block -->
        <div class="block push-bit">
            <!-- Login Form -->
            <form action="index.html" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                            <input type="text" id="txtemail" name="txtemail" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                            <input type="password" id="txtpassword" name="txtpassword" class="form-control" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-4">
                        <label class="switch switch-primary" data-toggle="tooltip" title="Remember Me?">
                            <input type="checkbox" id="login-remember-me" name="login-remember-me" checked>
                            <span></span>
                        </label>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button type="button" id="btnlogin" class="btn btn-sm btn-success" onclick="CallLogin()"><i class="fa fa-angle-right"></i> Login</button>
                        <!--JJVC_Flow_Change -->
                        <button type="button" style="display:none;" id="btnlogin365" class="btn btn-sm btn-danger"><i class="fa fa-angle-right"></i> Office 365</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <a href="/forgot/index"  id="link-reminder-login"><small>Forgot password?</small></a>
                        <a href="/Login/Registration" id="link-register-login"><small>Create a new account</small></a>
                    </div>
                </div>
            </form>
            <!-- END Login Form -->           
            
        </div>
        <!-- END Login Block -->
        <!-- Footer -->
        <footer class="text-muted text-center">
            <div>
                <a target="_blank" href="~/terms/Terms.html">Terms & Conditions</a>  <strong>|</strong>
                <a target="_blank" href="~/policy/Policy.html">User Policy</a>
            </div>
            <div>
                &copy; Macnovate India Automation Services Pvt. Ltd. 2017
            </div>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Login Container -->
    <div class="col-sm-6 col-lg-3 bootstrap-growl" id="hidein5sec" style="display:none;">
        <div id="loadermsg" class="alert alert-warning alert-dismissable" style="position:fixed; top:50px; right:20px; z-index:999999;">
            <p>Redirecting...</p>
        </div>
    </div>

    <div id="divErrorMsg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close newpopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div id="modalHeader" class="top_header_popup">
                </div>
                <div id="divModalContainer">
                    <p id="lblErrorMsg"></p>
                    <div id="divModalFooterOk" class="modal-footer" style="display:none;align-items:center;">
                        <button type="button" data-dismiss="modal" id="btnModalOk">Ok</button>
                    </div>
                    <div id="divModalFooterYesNo" style="display:none;">
                        <button type="button" id="btnModalYes" data-dismiss="modal">Yes</button>
                        &nbsp;&nbsp;
                        <button type="button" id="btnModalNo" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Login Container -->
    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="../js/jquery-1.12.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/Pages/common.js"></script>
    <script src="../js/Pages/login.js?v=1.4"></script>
    <!-- Load and execute javascript code used only in this page -->
    
    <link href="../css/alertmsg.css" rel="stylesheet" />
   <script>
       $(document).ready(function () {
           window.history.pushState(null, "", window.location.href);
           window.onpopstate = function () {
               window.history.pushState(null, "", window.location.href);
           };
       });
   </script>
</body>
</html>
<script language="javascript">
    function CallLogin() {
        debugger;
        $("#hidein5sec").css('display', 'block');
        $("#hidein5sec").fadeIn();

        var localTime = new Date();
        var Offset = createOffset(localTime);
        var TimeZone = localTime;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Login/CheckLogin",
            data: "{email : '" + $('#txtemail').val() + "', password : '" + $('#txtpassword').val() + "'}",
            success: function (data) {
                debugger;
                if (data == "Invalid") {
                    //alert(data); 
                    ShowMessage("Invalid Username or password", "no", "Login");
                }
                else {

                    //ShowMessage(data, "yes", "Login");
                    window.location.href = "/Dashboard/Dashboard/";
                }


            },
            error: function (error) {
                //alert(error);
                ShowMessage(error, "no", "Login");
                $("#hidein5sec").css('display', 'none');
                $("#hidein5sec").fadeOut();
            }
        });

    }
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        debugger;
        var email = getParameterByName('email');
        if (email != null) {
            document.getElementById('txtemail').value = email;
        }        
</script>
