﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Master | Online Project Procurement System | Macnovate Ltd.</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="../images/favicon.png">

    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="../css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->
    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="../css/themes.css">
    <!-- END Stylesheets -->
    <!-- The  stylesheet of this template to overwrites css properties -->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- END Stylesheets -->
    <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="../js/modernizr-respond.min.js"></script>
   
</head>
<body>
    <div id="page-wrapper" class="login-new" style="background-color:#FFFFFF;">

        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie10"></div>
            </div>
        </div>

        <div id="error-container" style="background-color:#394263 !important;">
            <div class="error-options">
                @*<h3><i class="fa fa-chevron-circle-left text-muted"></i> <a href="/ProjectTracker/RequisitionList">Go Back</a></h3>*@
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1 class="animation-fadeIn"><i class="fa fa-times-circle-o text-muted"></i> </h1>
                    <h2 class="h3">Session Expired!!! <a href="javascript:void();" onclick="GoToLogin();">Click here</a> to Login.</h2>
                </div>
            </div>
        </div>
    </div>

 

    <div class="col-sm-6 col-lg-3 bootstrap-growl" id="hidein5sec" style="display:none;">
        <div class="alert alert-warning alert-dismissable" style="position:fixed; top:50px; right:20px; z-index:999999;">
            <p>Loading...</p>
        </div>
    </div>

   
    <!-- END Login Container -->
    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="../js/jquery-1.12.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/Pages/common.js"></script>
    <!-- Load and execute javascript code used only in this page -->
    <script src="../js/pages/login.js"></script>
    <link href="../css/alertmsg.css" rel="stylesheet" />

</body>
</html>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
@*<script src="~/js/pages/RegisterUser.js"></script>*@
<script>
    //$(window).load(function () {
    //    window.location.href = '/Login/Index';
    //});

    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function GoToLogin()
    {
        var redirect = getParameterByName('redirect');
        if (redirect != null) {
            window.location.href = '/Login/Index?redirect=' + redirect;
        }
        else
        {
            window.location.href = '/Login/Index';
        }
    }

</script>