﻿@model List<string>


@foreach (var currency in Model)
{
    <tr>
        <td> @currency.ToString()</td>
        <td><a href="javascript:void(0)" data-toggle="tooltip" onclick="DeleteSupplierCurrency('@currency.ToString()');" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a></td>
    </tr>
}
