﻿@model DemoMacmartsBL.ViewModel.SuppliersVM
@{
    ViewBag.Title = "AddSupplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/Pages/Supplier.js?v=5.7"></script>

<link rel="stylesheet" href="~/Scripts/dropzone/basic.css">
<link rel="stylesheet" href="~/Scripts/dropzone/dropzone.css">
<script src="~/Scripts/dropzone/dropzone.js"></script>

<div class="content-header">
    <div class="header-section">
        <h1><i class="gi gi-settings"></i>Add / Modify Supplier Details</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        <div class="block">
            <div class="block-title">
                <h2>Supplier Details</h2>
            </div>

            <form class="form-horizontal form-bordered">
                @Html.HiddenFor(c => c.id)
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Supplier Id </label>
                        @if (Model.id != 0)
                        { @Html.TextBoxFor(c => c.SupplierId, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Supplier Id", @disabled = "disabled" })}
                        else
                        { @Html.TextBoxFor(c => c.SupplierId, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Supplier Id" })}

                    </div>

                    <div class="col-md-6">

                    </div>

                </div>
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Company Name 1 <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.CompanyName1, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Company Name 1" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Company Name 2 </label>
                        @Html.TextBoxFor(c => c.CompanyName2, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Company Name 2" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Address Line 1 <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.AddressLine1, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Address Line 1" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Address Line 2 <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.AddressLine2, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Address Line 2" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Post Code </label>
                        @Html.TextBoxFor(c => c.PinCode, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Post Code" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Country <span class="text-danger">*</span></label>
                        @*@Html.DropDownListFor(c => c.CountryId, new SelectList(ViewBag.Countries == null ? Enumerable.Empty<SelectListItem>() : ViewBag.Countries, "CountryId", "CountryName", Model.CountryId), "Select Country", new { @class = "form-control  input-sm" })*@
                        @Html.TextBoxFor(c => c.CountryName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Country Name" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">State</label>
                        @Html.TextBoxFor(c => c.StateName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter State Name" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">City <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.CityName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter City Name" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Phone 1 <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.Phone1, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Phone 1" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Phone 2</label>
                        @Html.TextBoxFor(c => c.Phone2, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Phone 2" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Contact Person <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.ContactPerson, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Contact Person" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Email Id</label>
                        @Html.TextBoxFor(c => c.Email1, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Email Id" })
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <select id="ddlCurrency" class="form-control" style="width:100%">
                            @foreach (var item1 in ViewBag.Currency as List<DemoMacmartsBL.ViewModel.CurrencyVM>)
                            {
                                if (item1.CurrencyCode == "EUR")
                                {
                                    <option selected="selected" value="EUR">EUR</option>
                                }
                                else
                                {
                                    <option value="@item1.CurrencyCode">@item1.CurrencyCode</option>
                                }
                            }

                        </select>
                    </div>

                    <div class="col-md-2">
                        <a href="javascript:void(0)" data-toggle="tooltip" onclick="AddSupplierCurrency();" title="Add" class="btn btn-xs btn-success">Add Currency</a>
                    </div>
                    <div class="col-md-6">
                        @if (Model.CurrencyList != null)
                        {
                            <table style="width:100%" class="table table-vcenter table-condensed table-bordered macmart-datatable">
                                <thead>
                                    <tr> <th colspan="2" class="text-center">Supplier Currency</th></tr>
                                </thead>
                                <tbody id="tblcurrency">
                                    @Html.Partial("~/Areas/Suppliers/Views/Suppliers/_SupplierCurrency.cshtml", Model.CurrencyList)
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table style="width:100%" class="table table-vcenter table-condensed table-bordered macmart-datatable">
                                <thead>
                                    <tr> <th colspan="2" class="text-center">Supplier Currency</th></tr>
                                </thead>
                                <tbody id="tblcurrency"></tbody>
                            </table>
                        }

                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        

                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Is Active? <span class="text-danger">*</span></label>
                        <label class="switch switch-primary">
                            @if (Model.id == 0)
                            {
                                <input id="chkisactive" type="checkbox" checked="checked"><span></span>
                            }
                            else
                            {
                                if (Model.isActive == true)
                                {
                                    <input id="chkisactive" type="checkbox" checked="checked"><span></span>
                                }
                                else
                                {
                                    <input id="chkisactive" type="checkbox"><span></span>
                                }
                            }
                        </label>
                    </div>

                </div>

            </form>

        </div><!--End of block -->
    </div><!--En dof col-md-6 -->

    <div class="clearfix"></div>

    <div class="block">
        <form class="form-horizontal form-bordered">
            <div class="form-group form-actions">
                <div class="col-md-12 text-center">
                    @if (Model.id == 0)
                    {
                        <button type="button" id="btnsubmit" onclick="javascript: validate();" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Save Details</button>
                    }
                    else
                    {
                        <button type="button" id="btnsubmit" onclick="javascript: Updatevalidate();" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Update</button>
                    }
                    <button type="button" id="btncancel" onclick="javascript: cancel();" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div>


    </div>

</div><!--End of row -->
<script>
    function DeleteSupplierCurrency(currency)
    {
        var id = $('#id').val();

        jQuery.ajax({
            url: '/Suppliers/Suppliers/DeleteSupplierCurrency',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ VendorId: id, Currency: currency }),
            success: function (data) {
                debugger;
                if (data.Result == "OK") {
                    $("#tblcurrency").load('/Suppliers/Suppliers/LoadSupplierCurrency?VendorId=' + id, function (data) {
                        debugger;
                        $("#tblcurrency").html(data);
                    });
                }
                else {
                    ShowMessage(data.Result, "no", "Suppliers");
                }
            },
            error: function (xhr) {
                debugger;
                ShowMessage('Some error Occurred', "no", "Suppliers");

            }
        });

    }

    function AddSupplierCurrency()
    {
        var id = $('#id').val();
        var currency = $('#ddlCurrency').val();

        jQuery.ajax({
            url: '/Suppliers/Suppliers/AddSupplierCurrency',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ VendorId: id, Currency: currency }),
            success: function (data) {
                debugger;
                if (data.Result == "OK") {
                    $("#tblcurrency").load('/Suppliers/Suppliers/LoadSupplierCurrency?VendorId=' + id, function (data) {
                        debugger;
                        $("#tblcurrency").html(data);
                    });
                }
                else {
                    ShowMessage(data.Result, "no", "Suppliers");
                }
            },
            error: function (xhr) {
                debugger;
                ShowMessage('Some error Occurred', "no", "Suppliers");

            }
        });

    }
</script>
<script type="text/javascript">

    Dropzone.autoDiscover = false;
    Dropzone.options.myAwesomeDropzone = false;

   $(document).ready(function () {
       

       var maxImageWidth = 250,maxImageHeight = 100;


   })

   function GetCurrentDate() {
       var d = new Date();
       var month = d.getMonth() + 1;
       var day = d.getDate();
       var output = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + d.getFullYear();
       return output;
   }
   function GetAfterOneYearDate() {

       var d = new Date();
       var month = d.getMonth() + 1;
       var day = d.getDate();
       var year = (d.getFullYear() + 1);

       var output = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + year;
       return output;

   }

</script>



