﻿@model DemoMacmartsBL.ViewModel.SupplierUsersVM
@{
    ViewBag.Title = "AddSupplierUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/Pages/Supplier.js?v=5.7"></script>
<div class="content-header">
    <div class="header-section">
        <h1><i class="gi gi-settings"></i>Add / Modify Supplier User Details</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-6">

        <div class="block">
            <div class="block-title">
                <h2>Supplier User Details</h2>
            </div>

            <form class="form-horizontal form-bordered">
                @Html.HiddenFor(c => c.UserId)
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Supplier  </label>
                        @Html.DropDownListFor(c => c.VendorId, new SelectList(ViewBag.SupplierList == null ? Enumerable.Empty<SelectListItem>() : ViewBag.SupplierList, "id", "SupplierName", Model.VendorId), "Select Supplier", new { @class = "form-control select-select2" })

                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Role  </label>
                        <select class="form-control" id="SupplierRole">
                            <option value="">Select Role</option>
                            @if (Model.SupplierRole == "A")
                            {
                                <option value="V">General</option>
                                <option selected="selected" value="A">Admin</option>
                            }
                            else if (Model.SupplierRole == "V")
                            {
                                <option selected="selected" value="V">General</option>
                                <option value="A">Admin</option>
                            }

                        </select>
                    </div>

                </div>
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">First Name <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.FirstName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter First Name" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Last Name <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.LastName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Last Name" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Email 1 <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.Email1, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Email 1" })
                    </div>

                    @*<div class="col-md-6">
                            <label class="control-label" for="example-text-input">Email 2 </label>
                            @Html.TextBoxFor(c => c.Email2, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Email 2" })
                        </div>*@

                </div>


                @*<div class="form-group">

                        <div class="col-md-6">
                            <label class="control-label" for="example-text-input">Phone 1 <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(c => c.Phone1, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Phone 1" })
                        </div>

                        <div class="col-md-6">
                            <label class="control-label" for="example-text-input">Phone 2</label>
                            @Html.TextBoxFor(c => c.Phone2, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Phone 2" })
                        </div>

                    </div>*@
                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Password<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.Password, new { @type = "password", @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Password" })
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Confirm Password<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(c => c.ConfirmPassword, new { @type = "password", @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Enter Confirm Password" })
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-md-6">
                        <label class="control-label" for="example-text-input">Is Active?<span class="text-danger">*</span></label>
                        <label class="switch switch-primary">
                            @if (Model.UserId == 0)
                            {
                                <input id="chkisactive" type="checkbox" checked="checked"><span></span>
                            }
                            else
                            {
                                if (Model.IsActive == true)
                                {
                                    <input id="chkisactive" type="checkbox" checked="checked"><span></span>
                                }
                                else
                                {
                                    <input id="chkisactive" type="checkbox"><span></span>
                                }
                            }

                        </label>
                    </div>

                    <div class="col-md-6">

                    </div>

                </div>
            </form>

        </div><!--End of block -->
    </div><!--En dof col-md-6 -->


    <div class="clearfix"></div>

    <div class=" block">
        <form action="vendor_data.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
            <div class="form-group form-actions">
                <div class="col-md-12 text-center">
                    @if (Model.UserId == 0)
                    {
                        <button type="button" id="btnsubmit" onclick="javascript: validateUser();" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Save Details</button>
                    }
                    else
                    {
                        <button type="button" id="btnsubmit" onclick="javascript: UpdatevalidateUser();" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Update</button>
                    }
                    <button type="button" id="btncancel" onclick="javascript: cancelUser();" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div><!--End of row -->
<script>
    $(document).ready(function () {
        $("#VendorId").on('change', function () {
            debugger;

            var Id = $(this).val();
            if (Id == "")
            {
                var select = $("#SupplierRole");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "Select Role"
                }));
            }
            else
            {
                jQuery.ajax({
                    url: '/Suppliers/Suppliers/getSupplierRoles',
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ Id: Id }),
                    success: function (data) {
                        debugger;
                        var select = $("#SupplierRole");
                        select.empty();
                        select.append($('<option/>', {
                            value: "",
                            text: "Select Role"
                        }));
                        debugger;
                        $.each(data.SupplierRole, function (index, SupplierRole) {
                            select.append($('<option/>', {
                                value: SupplierRole.Value,
                                text: SupplierRole.Text
                            }));
                        });
                    },
                    error: function (xhr) {
                        debugger;
                        ShowMessage('Some error Occurred', "no", "Add Supplier User");

                    }
                });
            }

        });
    });
</script>


