﻿@model List<DemoMacmartsBL.ViewModel.SupplierUsersVM>
@{
    ViewBag.Title = "SupplierUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/uiTables.js"></script>
<script>$(function () { UiTables.init(); });</script>
<script src="~/js/Pages/Supplier.js?v=5.7"></script>
<div class="content-header">
    <div class="header-section">
        <h1><i class="gi gi-settings"></i>Supplier User Master</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="block full">
            <div class="block-title" style="padding:5px 0 5px 5px">
                <a href="/Suppliers/Suppliers/AddSupplierUser" class="btn btn-danger"><i class="fa fa-plus"></i> Add new Supplier User</a>
                <div class="block-options pull-right">

                </div>
            </div>

            <div class="table-responsive">
                <table id="supplier-datatable" class="table table-vcenter table-condensed table-bordered macmart-datatable">
                    <thead>
                        <tr>
                            <th class="text-center">Supplier Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email1</th>
                            @*<th>Email2</th>
                                <th>Phone1</th>
                                <th>Phone2</th>*@
                            <th>Role</th>
                            <th>User Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.VendorName</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Email1</td>
                                @*<td>@item.Email2</td>
                                    <td>@item.Phone1</td>
                                    <td>@item.Phone2</td>*@
                                <td>
                                    @if (item.SupplierRole == "A")
                                    {
                                        <span>Admin</span>
                                    }
                                    else
                                    {
                                        <span>General</span>
                                    }
                                </td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <span style="color:green;">Active</span>
                                    }
                                    else
                                    {
                                        <span style="color:red;">InActive</span>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="javascript:void(0)" data-toggle="tooltip" onclick="javascript:EditSupplierUser(@item.UserId);" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                        @*<a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>*@
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div><!--End of block -->

    </div><!--En dof col-lg-12 -->
</div><!--End of row -->
