﻿@model List<DemoMacmartsBL.ViewModel.SuppliersVM>
@{   
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/uiTables.js"></script>
<script>$(function () { UiTables.init(); });</script>
<script src="~/js/Pages/Supplier.js"></script>
<div class="content-header">
    <div class="header-section">
        <h1><i class="gi gi-settings"></i>Supplier Master</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="block full">
            <div class="block-title" style="padding:5px 0 5px 5px">
                <a href="/Suppliers/Suppliers/AddSupplier" class="btn btn-danger"><i class="fa fa-plus"></i> Add new supplier</a>

                

                </div>
            

            
            <div class="table-responsive">
                <table id="supplier-datatable" class="table table-vcenter table-condensed table-bordered macmart-datatable">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th>Name 1</th>
                            <th>Name 2</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Post Code</th>
                            <th>Contact Person</th>
                            <th>Phone 1</th>
                            <th>Email Id</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.SupplierId</td>
                                <td>@item.CompanyName1</td>
                                <td>@item.CompanyName2</td>
                                <td>@item.AddressLine1</td>
                                <td>@item.CityName</td>
                                <td>@item.CountryName</td>
                                <td>@item.PinCode</td>
                                <td>@item.ContactPerson</td>
                                <td>@item.Phone1</td>
                                <td>@item.Email1</td>
                                <td>
                                    @if (item.isActive == true)
                                    {
                                        <span style="color:green;">Active</span>
                                    }
                                    else
                                    {
                                        <span style="color:red;">InActive</span>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="javascript:void(0)" data-toggle="tooltip" onclick="javascript:EditSupplier(@item.id);" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                        @*<a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>*@
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div><!--End of block -->

   
</div><!--End of row -->