﻿@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Master | Online Project Procurement System | Macnovate Ltd.</title>

   
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="../img/favicon.png">

    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="../css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->
    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="../css/themes.css">
    <!-- END Stylesheets -->
    <!-- The  stylesheet of this template to overwrites css properties -->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- END Stylesheets -->
    <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="../js/modernizr-respond.min.js"></script>
</head>
<body>
    <!-- Login Full Background -->
    <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) 
    <img src="../img/placeholders/backgrounds/login_full_bg.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">-->
    <!-- END Login Full Background -->
    <!-- Login Container -->   
    @*<img src="../img/placeholders/backgrounds/login_full_bg_1.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">*@

    <div>
        <div class="text-center">
            <div class="col-md-6" style="float:none; margin:200px auto 0;">
                <h2 class="text-light animation-fadeInQuick"><strong>You have successfully logged out</strong></h2>
                <h2 class="text-muted animation-fadeInQuickInv"><em>Click <a href="/Login/Index">here</a> go to Login </em></h2>
            </div>
        </div>
    </div>

    <!-- END Login Container -->
    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="../js/jquery-1.12.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/app.js"></script>


</body>
</html>

