﻿@model  DemoMacmartsBL.ViewModel.SupplierJustificationVM
<div class="row">
    <div class="col-sm-12">
        <!-- Example Form Block -->
        <div class="block full">
            <!-- Inline Form Title -->
            <div class="block-title">
                <h2><strong>Add</strong> Quotation Justification</h2>
            </div>
            <!-- END Inline Form Title -->
            <!-- Inline Form Content -->
            <form class="form-inline">
                @if (Model != null)
                {
                    <input type="hidden" value="@Model.id" id="hidSupplierJustificationId" name="hidSupplierJustificationId" />
                }
                else
                {
                    <input type="hidden" value="0" id="hidSupplierJustificationId" name="hidSupplierJustificationId" />
                }
                <div class="form-group">
                    <label class="sr-only" for="example-if-email">Quotation Justification</label>
                    @if (Model != null)
                    {
                        <input type="text" maxlength="500" id="txtSupplierJustification" name="txtSupplierJustification" value="@Model.SupplierJustification" class="form-control" style="width:100%" placeholder="Enter Supplier Justification">
                    }
                    else
                    {
                        <input type="text" maxlength="500" id="txtSupplierJustification" value="" name="txtSupplierJustification" class="form-control" style="width:100%" placeholder="Enter Supplier Justification">
                    }
                </div>

                <div class="form-group">
                    @if (Model.id == 0)
                    {
                        <button type="button" class="btn btn-primary" id="btnsubmit" onclick="return validate()"><i class="fa fa-angle-right"></i> Submit</button>
                        <button type="button" class="btn btn-warning" id="btnupdate" onclick="return Updatevalidate()" style="display:none"><i class="fa fa-angle-right"></i> Update</button>
                        <button type="button" class="btn btn-danger" id="btncancel" onclick="return cancel()" style="display:none"><i class="fa fa-angle-right"></i> Cancel</button>

                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnsubmit" onclick="return validate()" style="display:none"><i class="fa fa-angle-right"></i> Submit</button>
                        <button type="button" class="btn btn-warning" id="btnupdate" onclick="return Updatevalidate()"><i class="fa fa-angle-right"></i> Update</button>
                        <button type="button" class="btn btn-danger" id="btncancel" onclick="return cancel()"><i class="fa fa-angle-right"></i> Cancel</button>
                    }

                </div>
            </form>
            <!-- END Inline Form Content -->
        </div>
        <!-- END Example Form Block -->
    </div>
</div>

<script>
    function validate()
    {
        debugger;
        if ($('#txtSupplierJustification').val() == '') {
            ShowMessage('Please enter Quotation Justification.', "no", "Quotation Justification");
            $('#txtSupplierJustification').focus();
            return false;
        }
        else
        {
            var SupplierJustification = $('#txtSupplierJustification').val();

            jQuery.ajax({
                url: '/SupplierJustification/AddSupplierJustification',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ SupplierJustification: SupplierJustification }),
                success: function (data) {
                    debugger;
                    if (data == "success") {
                        ShowMessage('Quotation Justification added successfully', "yes", "Quotation Justification");
                        $('#txtSupplierJustification').val("");

                        $("#divSupplierJustificationgrid").load("/SupplierJustification/LoadAllSupplierJustifications", function (data) {
                            $('#divSupplierJustificationgrid').html(data);
                        });

                    }
                    else {
                        ShowMessage(data, "no", "Quotation Justification");
                    }
                },
                error: function (xhr) {
                    ShowMessage('Some error Occurred', "no", "Quotation Justification");

                }
            });
        }
    }

    function Updatevalidate() {
        debugger;
        if ($('#txtSupplierJustification').val() == '') {
            ShowMessage('Please enter Quotation Justification.', "no", "Quotation Justification");
            $('#txtSupplierJustification').focus();
            return false;
        }
        else {
            var SupplierJustification = $('#txtSupplierJustification').val();

            var id= $('#hidSupplierJustificationId').val();
            jQuery.ajax({
                url: '/SupplierJustification/UpdateSupplierJustification',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ SupplierJustification: SupplierJustification, id: id }),
                success: function (data) {
                    debugger;
                    if (data == "success") {
                        ShowMessage('Quotation Justification updated successfully', "yes", "Quotation Justification");
                        document.getElementById('btnupdate').style.display = 'none';
                        document.getElementById('btnsubmit').style.display = 'block';
                        document.getElementById('btncancel').style.display = 'none';

                        $('#txtSupplierJustification').val("");

                        $("#divSupplierJustificationgrid").load("/SupplierJustification/LoadAllSupplierJustifications", function (data) {
                            $('#divSupplierJustificationgrid').html(data);
                        });

                    }
                    else {
                        ShowMessage(data, "no", "Quotation Justification");
                    }
                },
                error: function (xhr) {
                    ShowMessage('Some error Occurred', "no", "Quotation Justification");

                }
            });
        }
    }
    function cancel()
    {
        $('#txtSupplierJustification').val("");

        document.getElementById('btnupdate').style.display = 'none';
        document.getElementById('btnsubmit').style.display = 'block';
        document.getElementById('btncancel').style.display = 'none';
    }
</script>
