﻿@model DemoMacmartsBL.ViewModel.SupplierJustificationListVM

<script src="~/js/uiTables.js"></script>
<script>$(function () { UiTables.project(); });</script>
<div class="table-responsive">
    <table id="projecttype-datatable" class="table table-vcenter table-condensed table-bordered">

        <thead>
            <tr>

                <th>Quotation Justification</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SupplierJustificationList != null)
            {
                foreach (var item in Model.SupplierJustificationList)
                {
                    <tr>
                        <td>@item.SupplierJustification</td>

                        <td class="text-center">
                            <div class="btn-group">
                                <div class="btn-group">
                                    <a href="javascript:void(0)" onclick="javascript:EditProjectType(@item.id);" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-info">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick="javascript:DeleteProjectType(@item.id);" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {

            }

        </tbody>
    </table>
</div>



<script>
    function EditProjectType(id)
    {
        $("#divaddSupplierJustification").load("/SupplierJustification/LoadSingleSupplierJustification?id="+id, function (data) {
            $('#divaddSupplierJustification').html(data);
        });
    }
    function DeleteProjectType(id) {
        jQuery.ajax({
            url: '/SupplierJustification/DeleteSupplierJustification',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({id:id }),
            success: function (data) {
                debugger;
                if (data == "success") {
                    ShowMessage('Quotation Justification deleted successfully', "yes", "Quotation justification");

                    $("#divSupplierJustificationgrid").load("/SupplierJustification/LoadAllSupplierJustifications", function (data) {
                        $('#divSupplierJustificationgrid').html(data);
                    });

                }
                else {
                    ShowMessage(data, "no", "Quotation justification");
                }
            },
            error: function (xhr) {
                ShowMessage('Some error Occurred', "no", "Quotation justification");

            }
        });
    }
</script>