﻿@model DemoMacmartsBL.ViewModel.SupplierJustificationMainVM
@{
    ViewBag.Title = "SupplierJustification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">

        <div class="block full">
            <div class="block-title">
                <h2><label>Quotation Justification</label></h2>
            </div>
            <div id="divaddSupplierJustification">
                @Html.Partial("_SupplierJustificationAdd", Model.SupplierJustification)
            </div>
            <div class="clearfix"></div>
            <div id="divSupplierJustificationgrid">
                @Html.Partial("_SupplierJustificationGrid", Model.JustificationList)
            </div>
        </div><!--End of block -->

    </div><!--En dof col-lg-12 -->
</div><!--End of row -->