﻿/* Popup Css Starts */
.top_header_popup {
    background: #ccc none repeat scroll 0 0;
    padding: 10px;
    text-align: center;
    border-radius: 14px 14px 0px 0px;
}
    .top_header_popup > h1 {
        font-size: 20px;
        font-weight: 400;
        margin: 5px;
        text-align: center;
    }
.button_contaner p {
    font-size: 17px;
    font-weight: 400;
	text-align:left;
}
.close.newpopup {
    padding: 0 5px;
    margin: 14px 10px 0px;
}
.top_header_popup {
    color: #fff;
}
        .top_header_popup::after {
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            content: " ";
            height: 0;
            left: 50%;
            margin-left: -10px;
            position: absolute;
            top: 49px;
            width: 0;
            z-index: 999;
        }
.button_contaner button {
    min-width: 60px;
}
.warning {
    background: #DEB25C;
}
.success {
    background: #7DC402;
}
.info {
    background: #5CAFDE;
}
.error {
    background: #DE815C;
}
.button_contaner.warning-btn {
    padding: 30px 20px;
    /*text-align: center; border:1px solid #DEB25C;*/
}
.button_contaner.success-btn {
    padding: 30px 20px;
    /*text-align: center; border:1px solid #7DC402;*/
}
.button_contaner.info-btn {
    padding: 30px 20px;
    /*text-align: center; border:1px solid #5CAFDE;*/
}
.button_contaner.error-btn {
    padding: 30px 20px;
    /*text-align: center; border:1px solid #DE815C;*/
}
.top_header_popup.warning::after {
    border-top: 15px solid #deb25c;
}
.top_header_popup.success::after {
    border-top: 15px solid #7DC402;
}
.top_header_popup.info::after {
    border-top: 15px solid #5CAFDE;
}
.top_header_popup.error::after {
    border-top: 15px solid #DE815C;
}
.modal-content {
    border-radius: 14px 14px 14px 14px;
}
.btn-NoCss {
    background-color: #CFCDCD;
    border-color: #CFCDCD;
    color: white;
}
    .btn-NoCss:hover {
        background-color: #A5A3A3;
        border-color: #A5A3A3;
        color: white;
    }
.modal-footer {
    text-align: center;
    background-color: #ffffff;
}


/* Popup Css Ends */