.btn-primary a{  color:#fff; text-decoration:none;}
.logo_one{ display:table; margin:0 auto;}
#login-container .login-title{    background:#e1e0e0;padding: 3px 10px;}
#login-container .login-title h1 small, #login-alt-container h1 small{ color: #666;}
.sidebar-brand, .sidebar-title{ }
.sidebar-brand img{ display:inline-block;max-width: 75%; padding-bottom:4px;}
.header-section {
    padding: 10px 13px;
}
.form-control{}
body .sub-header{margin: 0px 0 20px;
    padding: 0px 0 10px;
}
.pull-right.search{ padding:0;}
.table-data.pagination{ margin:0;}

.nav.navbar-nav-custom.pull-right li:first-child{ }
.switch.hold_not span{  background:#e74c3c; border:1px solid #e74c3c;}
.switch-primary.hold_not input:checked + span{background:#27ae60; border:1px solid #27ae60;}
 .table.table-vcenter tr.close_one td{    background: #e0f7e0;}
 .dropdown-menu.dropdown-custom.dropdown-menu-right li{}
 .dropdown-menu.dropdown-custom.dropdown-menu-right li:nth-child(6){}
 .btn-primary.add{ margin-right:10px;}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {min-width:136px !important;}
body .table thead > tr > th{font-size: 14px;
    font-weight: 600;
    white-space: nowrap;}
	.view_post{ display:none;}
	.user_one{ margin-top: 14px;display: block; font-size:16px;color: #3498db; margin-right:29px; padding-bottom:4px;}
	
.table.table-vcenter.table_new tr.close_one td{    white-space: nowrap;}
.demo{ list-style:none;}
.demo li{ float:left;}
.demo li:first-child:before{ display:none;}
.demo li:before {
      content: "\203a";
    padding: 0 8px;
    color: #ccc;
	font-size:16px;
}

#page-container, #sidebar, #sidebar-alt {
    background-color: #777777;
}
.arrowz a:first-child{   
          top: -6px;
    left: 8px;}
	.arrowz a{position: relative;    left: -3px;
    top: 4px;}
.download{ list-style:none;}
.download li{ float:left; padding:2px 8px; color:#27ae60}
.download li a{ text-decoration:none; color:#27ae60}
.download li a:hover{ color:#03C !important;}
.download li:first-child a{ color:#e74c3c;}
.control-label.col-lg-4.filter{    margin-top: 10px;
    text-align: right;}
.form-control.col-lg-8.filter{ width:66.66666667%;}
.col-lg-8.form-control.one{ width:60%;}
.demo li:first-child{ margin-top:3px;}
/*.demo.second li span{ border-radius: 50%;
    width: 34px;
    height: 32px;
    display: inline-block;
    line-height: 30px;}*/
	.demo.second li:before{ padding:0 3px;}
	.demo.second li:first-child{ }
	.label-default.one{ background:#CCC;}
	   .demo.second  {width: 220px; display:table;}