﻿
/* loader css start*/
.cust-loader2 {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, 0.7);
    margin: auto;
    text-align: Center;
    overflow: hidden;
    z-index: 9999;
}

.loading-content {
    position: absolute;
    top: 50%;
    left: 42%;
   /* transform: translate(-60%, -60%);*/
    width: 300px; margin:0 auto;
    /* background-color: white; */
    text-align: center;
}

.cust-loader2 i {
   /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30px;
    height: 30px;*/
    margin: auto;
    z-index: 9999;
}
/*loader css end*/

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear !important;
    animation: fa-spin 2s infinite linear !important;
}
