﻿@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Master | Online Project Procurement System | Macnovate Ltd.</title>

    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="../img/favicon.png">

    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="../css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->
    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="../css/themes.css">
    <!-- END Stylesheets -->
    <!-- The  stylesheet of this template to overwrites css properties -->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- END Stylesheets -->
    <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="../js/modernizr-respond.min.js"></script>
</head>
<body>
    <!-- Login Full Background -->
    <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
    <img src="../img/placeholders/backgrounds/login_full_bg.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">
    <!-- END Login Full Background -->
    <!-- Login Container -->
    <div id="login-container" class="animation-fadeIn">
        <!-- Login Title -->
        <div class="login-title text-center">
            <h1>
                <img class="logo_one" src="../images/logo.png" class="img-responsive" />
                <div class="clearfix"></div>
                <small> <strong>Reset Password </strong></small>
            </h1>
        </div>
        <!-- END Login Title -->
        <!-- Login Block -->
        <div class="block push-bit">
            <!-- Login Form -->
            @if (ViewBag.Message == "success")
            {
                <form id="frmresetpassword" class="form-horizontal form-bordered form-control-borderless">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="txtnewp" name="txtnewp" onkeyup="javascript: passwordStrength($(this).val());" class="form-control input-lg" placeholder="Enter New Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="txtconfirmp" name="txtconfirmp" class="form-control input-lg" placeholder="Confirm New Password">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 form-group">
                        <label class="control-label col-md-3 col-sm-3 padtop_popup" style="width:100%;text-align:left;" id="lblpasswordindicator"></label>
                        <input type="hidden" id="txtcode" name="txtcode" value="" />
                    </div>
                    <div class="form-group form-actions">

                        <div class="col-xs-8 text-right">
                            <button type="button" id="btnupdate" class="btn btn-sm btn-primary" onclick="javascript: return validate();"><i class="fa fa-angle-right"></i> Update</button>
                            <a href="/Login/Index"><button type="button" id="btncancel" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Cancel</button></a>
                        </div>
                    </div>

                </form>
            }
            else
            {
                <span class="input-group-addon">@ViewBag.Message</span>
                <br /><br /><br /><br /><br /><br />
            }
            <!-- END Login Form -->

        </div>
        <!-- END Login Block -->
    </div>
    <div id="divErrorMsg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close newpopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div id="modalHeader" class="top_header_popup">
                </div>
                <div id="divModalContainer">
                    <p id="lblErrorMsg"></p>
                    <div id="divModalFooterOk" class="modal-footer" style="display:none;align-items:center;">
                        <button type="button" data-dismiss="modal" id="btnModalOk">Ok</button>
                    </div>
                    <div id="divModalFooterYesNo" style="display:none;">
                        <button type="button" id="btnModalYes" data-dismiss="modal">Yes</button>
                        &nbsp;&nbsp;
                        <button type="button" id="btnModalNo" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 bootstrap-growl" id="loadingDiv" style="display:none;">
        <div id="loadermsg"  class="alert alert-warning alert-dismissable" style="position:fixed; top:50px; right:20px; z-index:999999;">
            <p>Processing...</p>
        </div>
    </div>
    <!-- END Login Container -->
    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="../js/jquery-1.12.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/app.js"></script>

    <!-- Load and execute javascript code used only in this page -->

    <script src="/js/Pages/common.js"></script>
    <link href="/css/alertmsg.css" rel="stylesheet" />
    <script src="/js/pages/forgot.js"></script>
    <script src="/js/pages/MyProfile.js"></script>
    <script>
        function validate()
        {
            if ($('#txtnewp').val() == '') {
                ShowMessage('Please enter new password', "no", "Reset Password");
                return false;
            }
            else if ($('#txtconfirmp').val() == '') {
                ShowMessage('Please enter confirm password', "no", "Reset Password");
                return false;
            }
            else if ($('#txtconfirmp').val() != $('#txtnewp').val()) {
                ShowMessage('New password & confirm password does not match', "no", "Reset Password");
                return false;
            }
            else {
                debugger;

                $.post("/forgot/ResetPassword", $("#frmresetpassword").serialize(), function (data) {
                    debugger;
                    if (data == 'success') {
                        ShowMessage('Password Changed successfully.Please login with new Password', "yes", "Reset Password", '/Login/Index');
                        //window.location.href = '/Login/Index';
                        return false;
                    }
                    else if (data == 'error') {
                        ShowMessage('Error Updating Password.', "no", "Reset Password")
                        return false;
                    }
                    else {
                        ShowMessage(data, "no", "Reset Password");
                        return false;
                    }
                });
            }
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        document.getElementById("txtcode").value = getUrlVars()["code"];
    </script>
</body>
</html>


