﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Master | Online Project Procurement System | Macnovate Ltd.</title>

    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/images/favicon.png">

    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="../css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->
    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="../css/themes.css">
    <!-- END Stylesheets -->
    <!-- The  stylesheet of this template to overwrites css properties -->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- END Stylesheets -->
    <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="../js/modernizr-respond.min.js"></script>
</head>
<body>

    <div id="page-wrapper" class="login-new" style="background-color:#FFFFFF;">

        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie10"></div>
            </div>
        </div>

        <div id="page-container">
            <div id="main-container">
                <div style="margin:0; padding:0; background-color:#FFFFFF;">
                    <div class="row">

                        <div class="login-new-lt"></div>

                        <div class="login-new-rt">

                            <div class="login-new-logo text-center">
                                <img src="../images/Latestlogo.png" class="img-responsive" alt="Macmarts" width="45%" />
                            </div>

                            <form id="form-login" class="form-horizontal  ">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                            <input type="text" id="txtemail" name="txtemail" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 text-right">
                                        <button type="button" id="btnconfirm" class="btn btn-sm btn-success"><i class="fa fa-angle-right"></i> Confirm</button>
                                        <a href="/Login/Index"><button type="button" id="btncancel" class="btn btn-sm btn-danger"><i class="fa fa-angle-right"></i> Cancel</button></a>
                                    </div>
                                </div>

                            </form>


                            <div class="login-new-footer">
                                <div>
                                    <a target="_blank" href="~/terms/Terms.html">Terms & Conditions</a>  <strong>|</strong>
                                    <a target="_blank" href="~/policy/Policy.html">User Policy</a>
                                </div>
                                <div>
                                    &copy; Macnovate India Automation Services Pvt. Ltd. 2017
                                </div>
                            </div>

                        </div><!--End of login-new-rt -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divErrorMsg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close newpopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div id="modalHeader" class="top_header_popup">
                </div>
                <div id="divModalContainer">
                    <p id="lblErrorMsg"></p>
                    <div id="divModalFooterOk" class="modal-footer" style="display:none;align-items:center;">
                        <button type="button" data-dismiss="modal" id="btnModalOk">Ok</button>
                    </div>
                    <div id="divModalFooterYesNo" style="display:none;">
                        <button type="button" id="btnModalYes" data-dismiss="modal">Yes</button>
                        &nbsp;&nbsp;
                        <button type="button" id="btnModalNo" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 bootstrap-growl" id="loadingDiv" style="display:none;">
        <div id="loadermsg" class="alert alert-warning alert-dismissable" style="position:fixed; top:50px; right:20px; z-index:999999;">
            <p>Processing...</p>
        </div>
    </div>

    <!-- END Login Container -->
    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="../js/jquery-1.12.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/app.js"></script>

    <!-- Load and execute javascript code used only in this page -->

    <script src="/js/Pages/common.js"></script>
    <link href="/css/alertmsg.css" rel="stylesheet" />
    <script src="/js/pages/forgot.js"></script>
</body>
</html>

