﻿@model DemoMacmartsBL.ViewModel.UOMListVM

<script src="~/js/uiTables.js"></script>
<script>$(function () { UiTables.project(); });</script>
<div class="table-responsive">
    <table id="projecttype-datatable" class="table table-vcenter table-condensed table-bordered">

        <thead>
            <tr>
                <th>Unit Of Measure</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.UOMlist != null)
            {
                foreach (var item in Model.UOMlist)
                {
                    <tr>
                        <td>@item.Text</td>
                        <td>@item.Description</td>

                        <td class="text-center">
                            <div class="btn-group">
                                <div class="btn-group">
                                    <a href="javascript:void(0)" onclick="javascript:EditUOM(@item.id);" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-info">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick="javascript:DeleteUOM(@item.id);" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {

            }

        </tbody>
    </table>
</div>



<script>
    function EditUOM(id)
    {
        $("#divaddUOM").load("/UOM/LoadSingleUOM?id="+id, function (data) {
            $('#divaddUOM').html(data);
        });
    }
    function DeleteUOM(id) {
        jQuery.ajax({
            url: '/UOM/DeleteUOM',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({id:id }),
            success: function (data) {
                debugger;
                if (data == "success") {
                    ShowMessage('Unit of measure deleted successfully', "yes", "Unit of measure");

                    $("#divUOMGrid").load("/UOM/LoadAllUOMs", function (data) {
                        $('#divUOMGrid').html(data);
                    });

                }
                else {
                    ShowMessage(data, "no", "Unit of measure");
                }
            },
            error: function (xhr) {
                ShowMessage('Some error Occurred', "no", "Unit of measure");

            }
        });
    }
</script>
