﻿@model DemoMacmartsBL.ViewModel.UnitOfMeasureVM

<div class="row">
    <div class="col-sm-12">
        <!-- Example Form Block -->
        <div class="block full">
            <!-- Inline Form Title -->
            <div class="block-title">
                <h2><strong>Add</strong> Unit Of Measure</h2>
            </div>
            <!-- END Inline Form Title -->
            <!-- Inline Form Content -->
            <form class="form-inline">
                @if (Model != null)
                {
                    <input type="hidden" value="@Model.id" id="hidUOMId" name="hidUOMId" />
                }
                else
                {
                    <input type="hidden" value="0" id="hidUOMId" name="hidUOMId" />
                }
                <div class="form-group">
                    <label class="sr-only" for="example-if-email">Unit Of Measure</label>
                    @if (Model != null)
                    {
                        //Changes done by Tushar
                        <input type="text" maxlength="50" id="txtUOM" name="txtUOM" value="@Model.Text" class="form-control" style="width:100%" placeholder="Enter Unit Of Measure">
                    }
                    else
                    {
                        //Changes done by Tushar
                        <input type="text" maxlength="50" id="txtUOM" value="" name="txtUOM" class="form-control" style="width:100%" placeholder="Enter Unit Of Measure">
                    }
                </div>
                <div class="form-group">
                    <label class="sr-only" for="example-if-password">Description</label>
                    @if (Model != null)
                    {
                        <input type="text" maxlength="200" id="txtDescription" name="txtDescription" value="@Model.Description" class="form-control" style="width:100%" placeholder="Enter Description">
                    }
                    else
                    {
                        <input type="text" maxlength="200" id="txtDescription" value="" name="txtDescription" class="form-control" style="width:100%" placeholder="Enter Description">
                    }
                </div>
                <div class="form-group">
                    @if (Model.id == 0)
                    {
                        <button type="button" class="btn btn-primary" id="btnsubmit" onclick="return validate()"><i class="fa fa-angle-right"></i> Submit</button>
                        <button type="button" class="btn btn-warning" id="btnupdate" onclick="return Updatevalidate()" style="display:none"><i class="fa fa-angle-right"></i> Update</button>
                        <button type="button" class="btn btn-danger" id="btncancel" onclick="return cancel()" style="display:none"><i class="fa fa-angle-right"></i> Cancel</button>

                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" id="btnsubmit" onclick="return validate()" style="display:none"><i class="fa fa-angle-right"></i> Submit</button>
                        <button type="button" class="btn btn-warning" id="btnupdate" onclick="return Updatevalidate()"><i class="fa fa-angle-right"></i> Update</button>
                        <button type="button" class="btn btn-danger" id="btncancel" onclick="return cancel()"><i class="fa fa-angle-right"></i> Cancel</button>
                    }

                </div>
            </form>
            <!-- END Inline Form Content -->
        </div>
        <!-- END Example Form Block -->
    </div>
</div>

<script>
    function validate()
    {
        debugger;
        if ($('#txtUOM').val() == '') {
            ShowMessage('Please enter Unit Of Measure.', "no", "Unit Of Measure");
            $('#txtUOM').focus();
            return false;
        }
        else if ($('#txtDescription').val() == '') {
            ShowMessage('Please enter Description.', "no", "Unit Of Measure");
            $('#txtDescription').focus();
            return false;
        }
        else
        {
            var UOM = $('#txtUOM').val();
            var Description = $('#txtDescription').val();

            jQuery.ajax({
                url: '/UOM/AddUOM',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ UOM: UOM, Description: Description }),
                success: function (data) {
                    debugger;
                    if (data == "success") {
                        ShowMessage('Unit Of Measure added successfully', "yes", "Unit Of Measure");
                        $('#txtUOM').val("");
                        $('#txtDescription').val("");
                        $("#divUOMGrid").load("/UOM/LoadAllUOMs", function (data) {
                            $('#divUOMGrid').html(data);
                        });

                    }
                    else {
                        ShowMessage(data, "no", "Unit Of Measure");
                    }
                },
                error: function (xhr) {
                    ShowMessage('Some error Occurred', "no", "Unit Of Measure");

                }
            });
        }
    }

    function Updatevalidate() {
        debugger;
        if ($('#txtUOM').val() == '') {
            ShowMessage('Please enter Unit Of Measure.', "no", "Unit Of Measure");
            $('#txtUOM').focus();
            return false;
        }
        else if ($('#txtDescription').val() == '') {
            ShowMessage('Please enter Description.', "no", "Unit Of Measure");
            $('#txtDescription').focus();
            return false;
        }
        else {
            var UOM = $('#txtUOM').val();
            var Description = $('#txtDescription').val();
            var id= $('#hidUOMId').val();
            jQuery.ajax({
                url: '/UOM/UpdateUOM',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ UOM: UOM, Description: Description,id:id }),
                success: function (data) {
                    debugger;
                    if (data == "success") {
                        ShowMessage('Unit Of Measure updated successfully', "yes", "Unit Of Measure");
                        document.getElementById('btnupdate').style.display = 'none';
                        document.getElementById('btnsubmit').style.display = 'block';
                        document.getElementById('btncancel').style.display = 'none';

                        $('#txtUOM').val("");
                        $('#txtDescription').val("");

                        $("#divUOMGrid").load("/UOM/LoadAllUOMs", function (data) {
                            $('#divUOMGrid').html(data);
                        });

                    }
                    else {
                        ShowMessage(data, "no", "Unit Of Measure");
                    }
                },
                error: function (xhr) {
                    ShowMessage('Some error Occurred', "no", "Unit Of Measure");

                }
            });
        }
    }
    function cancel()
    {
        $('#txtUOM').val("");
        $('#txtDescription').val("");

        document.getElementById('btnupdate').style.display = 'none';
        document.getElementById('btnsubmit').style.display = 'block';
        document.getElementById('btncancel').style.display = 'none';
    }
</script>
