﻿@model DemoMacmartsBL.ViewModel.UOMMainVM
@{
    ViewBag.Title = "UOM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">

        <div class="block full">
            <div class="block-title">
                <h2><label>Unit of measure</label></h2>
            </div>
            <div id="divaddUOM">
                @Html.Partial("_UOMAdd", Model.UOM)
            </div>
            <div class="clearfix"></div>
            <div id="divUOMGrid">
                @Html.Partial("_UOMGrid", Model.UOMList)
            </div>
        </div><!--End of block -->

    </div><!--En dof col-lg-12 -->
</div><!--End of row -->
