﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <title>Macmarts</title>

    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <link rel="shortcut icon" href="~/images/favicon.png">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/plugins.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/themes.css">
    <link rel="stylesheet" href="/css/loader.css">

    <script src="~/js/modernizr.min.js"></script>

    <link rel="stylesheet" href="~/js/accordion/accordion.css" type="text/css" media="all">

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <style>
        .input-sm {
            height: 35px !important;
        }
    </style>
    <script>
        var loadermsg = 'Loading...';
    </script>
</head>

<body>
    <div id="page-wrapper">
        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie10"></div>
            </div>
        </div>
        <div id="page-container" class="sidebar-partial sidebar-no-animations">

            <div id="main-container">

                <div id="page-content">

                    @RenderBody()

                </div><!--En dof page-content -->
                <!--footer -->
                <footer class="clearfix">
                    <div id="footer1"></div>
                </footer>


            </div><!--en dof main-container -->
        </div><!--EN dof sidebar-partial -->
    </div><!--End od page-wrapper -->

    <div id="divErrorMsg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close newpopup" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div id="modalHeader" class="top_header_popup">
                </div>
                <div id="divModalContainer">
                    <p id="lblErrorMsg"></p>
                    <div id="divModalFooterOk" class="modal-footer" style="display:none;align-items:center;">
                        <button type="button" data-dismiss="modal" id="btnModalOk">Ok</button>
                    </div>
                    <div id="divModalFooterYesNo" style="display:none;">
                        <button type="button" id="btnModalYes" data-dismiss="modal">Yes</button>
                        &nbsp;&nbsp;
                        <button type="button" id="btnModalNo" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cust-loader2" id="loadingDiv" style="position: fixed; z-index: 10000000; height: auto !important; display: block;">
        <div class="loading-content">
            <i class="fa fa-spinner fa-3x fa-spin text-primary"></i>
            <br><br><br><br><br><br>
            <div id="divloadermsg" class="text-primary h2">@*<strong>Loading...</strong>*@</div>
        </div>
    </div>

    <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="~/js/jquery-1.12.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/app.js"></script>
    <link href="~/css/alertmsg.css" rel="stylesheet" />
    <script src="~/js/pages/common.js"></script>
    <!-- Load and execute javascript code used only in this page -->
    @*<script src="~/js/pages/tablesDatatables.js"></script>
        <script>$(function () { TablesDatatables.init('#lineitems-datatable'); });</script>
        <script>$(function () { TablesDatatables.init('#template-datatable'); });</script>
        <script>$(function () { TablesDatatables.init('#questionnaire-datatable'); });</script>
        <script>$(function () { TablesDatatables.init('#downpayreq-datatable'); });</script>*@
    <script>
        function ChangeTheme(theme)
        {
            document.getElementById('lnktheme').href = '../css/themes/' + theme;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/MyProfile/UpdateTheme",
                data: "{themename : '" + theme + "'}",
                success: function (data) {

                },
                error: function (error) {
                    ShowMessage(error, "no", "Change Theme");
                }
            });
        }
    </script>

</body>

</html>
