﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <title>Macmarts - Admin Portal </title>

    @*<meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">*@
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <link rel="shortcut icon" href="~/images/favicon.png">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/plugins.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/themes.css">
    <link id="lnktheme" rel="stylesheet" href="~/css/themes/coral.css">
    <link rel="stylesheet" href="/css/loader.css">

    <script src="~/js/modernizr.min.js"></script>

    <link rel="stylesheet" href="~/js/accordion/accordion.css" type="text/css" media="all">

    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
    <style>
        .input-sm {
            height: 35px !important;
        }

        .dz-error-message {
            margin-top: 20px !important;
        }
    </style>
    <script>
        var loadermsg = 'Loading...';
    </script>

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

</head>

<body>
    <div id="page-wrapper">
        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie10"></div>
            </div>
        </div>
        <div id="page-container" class="sidebar-partial sidebar-no-animations">
            @*< !-sidebar-visible-lg -->*@
        <div id="sidebar-alt">
            <div id="sidebar-alt-scroll">
                <div class="sidebar-content">
                    <a href="javascript:void(0)" class="sidebar-title">
                        <i class="fa fa-globe pull-right"></i> <strong>Notifications</strong>
                    </a>
                    <div class="sidebar-section" id="noti_content">
                        <div class="alert alert-alt">
                            <small>just now</small><br>
                            Upgraded to Pro plan
                        </div>
                       
                    </div><!--En dof sidebar-section -->

                </div><!--End of sidebar-content -->
            </div><!--End of sidebar-alt-scroll -->
        </div><!--Endo f sidebar-alt -->
        <!-- Main Sidebar -->
        <div id="sidebar">
            <div id="sidebar-scroll">
                <div class="sidebar-content">

                    <a href="#" class="sidebar-brand" style="background-color:#eaedf1 !important"><img src="~/images/logo.png" alt="Macnovate Ltd." width="70%" /></a>

                    <!-- User Info -->
                    @*<div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                        <div class="sidebar-user-name" style="font-weight:800">@MacMacmartsBL.ViewModel.UsersVM._UserName</div>
                        <div class="sidebar-user-links">
                            <a href="/MyProfile" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
                            <a href="#" class="disabled" data-toggle="tooltip" data-placement="bottom" title="Settings"><i class="gi gi-cogwheel"></i></a>
                            <a href="/MyProfile/Lock" data-toggle="tooltip" data-placement="bottom" title="Lock Account"><i class="gi gi-lock"></i></a>
                            <a href="/Logout/Index" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
                        </div>
                    </div>*@
                    <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide" style="padding-left:10px">
                        @* <div class="sidebar-user-avatar"><a href="#"><img height="64" width="64" src="https://upload.macmarts.com/Upload/images/@JnJMacmartsBL.ViewModel.UsersVM._UserPic" alt="@JnJMacmartsBL.ViewModel.UsersVM.UserName"></a></div>*@
                        <div class="sidebar-user-name" style="font-weight:800">@DemoMacmartsBL.ViewModel.UserVM._UserName</div>
                        <div class="sidebar-user-links" style="padding-top:10px">
                            <a href="/MyProfile/Index" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
                            @*<a href="#" class="disabled" data-toggle="tooltip" data-placement="bottom" title="Settings"><i class="gi gi-cogwheel"></i></a>*@
                            <a href="/MyProfile/Lock" data-toggle="tooltip" data-placement="bottom" title="Lock Account"><i class="gi gi-lock"></i></a>
                            <a href="/Logout/Index" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
                        </div>
                    </div>
                    <div style="background:rgba(255, 255, 255, 0.1);padding-bottom: 10px;padding-left: 10px;text-align: center;padding-top: 10px;">CompanyName</div>
                    <!-- END User Info -->
                    <!-- Change Color Theme functionality can be found in js/app.js - templateOptions() -->
                    <!-- END Theme Colors -->
                    <!-- Sidebar Navigation -->
                    <div id="divLeftNavigationMenu">
                        @*@if (MacMacmartsBL.ViewModel.UsersVM._LeftMenu != null)
                        {
                            List<MacMacmartsBL.ViewModel.GenericUserRole> objDashoboard = new List<MacMacmartsBL.ViewModel.GenericUserRole>();
                            List<MacMacmartsBL.ViewModel.GenericUserRole> objMaster = new List<MacMacmartsBL.ViewModel.GenericUserRole>();
                            List<MacMacmartsBL.ViewModel.GenericUserRole> objTaxMaster = new List<MacMacmartsBL.ViewModel.GenericUserRole>();
                            List<MacMacmartsBL.ViewModel.GenericUserRole> objUtility = new List<MacMacmartsBL.ViewModel.GenericUserRole>();
                            List<MacMacmartsBL.ViewModel.GenericUserRole> objSubscription = new List<MacMacmartsBL.ViewModel.GenericUserRole>();
                            List<MacMacmartsBL.ViewModel.GenericUserRole> objRFQ = new List<MacMacmartsBL.ViewModel.GenericUserRole>();
                            List<MacMacmartsBL.ViewModel.GenericUserRole> objSales = new List<MacMacmartsBL.ViewModel.GenericUserRole>();
                            List<MacMacmartsBL.ViewModel.GenericUserRole> objPurchase = new List<MacMacmartsBL.ViewModel.GenericUserRole>();
                            List<MacMacmartsBL.ViewModel.GenericUserRole> objInventory = new List<MacMacmartsBL.ViewModel.GenericUserRole>();

                            objDashoboard = MacMacmartsBL.ViewModel.UsersVM._LeftMenu.DashboardPageAccess;
                            objMaster = MacMacmartsBL.ViewModel.UsersVM._LeftMenu.MasterPageAccess;
                            objTaxMaster = MacMacmartsBL.ViewModel.UsersVM._LeftMenu.TaxMasterPageAccess;
                            objUtility = MacMacmartsBL.ViewModel.UsersVM._LeftMenu.UtilityPageAccess;
                            objSubscription = MacMacmartsBL.ViewModel.UsersVM._LeftMenu.SubscriptionPageAccess;
                            objRFQ = MacMacmartsBL.ViewModel.UsersVM._LeftMenu.RFQPageAccess;
                            objSales = MacMacmartsBL.ViewModel.UsersVM._LeftMenu.SalesPageAccess;
                            objPurchase = MacMacmartsBL.ViewModel.UsersVM._LeftMenu.PurchasePageAccess;
                            objInventory = MacMacmartsBL.ViewModel.UsersVM._LeftMenu.InventoryPageAccess;
                            
                            <ul class="sidebar-nav">
                                @if (objDashoboard.Count > 0)
                                {
                                    foreach (var item in objDashoboard)
                                    {
                                        <li>@Html.Raw(@item.PageLink)</li>
                                    }
                                }

                                @if (objInventory.Count > 0)
                                {
                                    <li class="sidebar-header">
                                        <span class="sidebar-header-options clearfix">
                                        </span><span class="sidebar-header-title">Inventory</span>
                                    </li>
                                    foreach (var item in objInventory)
                                    {
                                        <li>@Html.Raw(@item.PageLink)</li>
                                    }
                                }

                                @if (objRFQ.Count > 0)
                                {
                                    <li class="sidebar-header">
                                        <span class="sidebar-header-options clearfix">
                                        </span><span class="sidebar-header-title">Request For Quotation</span>
                                    </li>
                                    foreach (var item in objRFQ)
                                    {
                                        <li>@Html.Raw(@item.PageLink)</li>
                                    }
                                }                                

                                @if (objSales.Count > 0)
                                {
                                    <li class="sidebar-header">
                                        <span class="sidebar-header-options clearfix">
                                        </span><span class="sidebar-header-title">Sales</span>
                                    </li>
                                    foreach (var item in objSales)
                                    {
                                        <li>@Html.Raw(@item.PageLink)</li>
                                    }
                                }

                                @if (objPurchase.Count > 0)
                                {
                                    <li class="sidebar-header">
                                        <span class="sidebar-header-options clearfix">
                                        </span><span class="sidebar-header-title">Purchase</span>
                                    </li>
                                    foreach (var item in objPurchase)
                                    {
                                        <li>@Html.Raw(@item.PageLink)</li>
                                    }
                                }

                                @if (objMaster.Count > 0)
                                {
                                    <li class="sidebar-header">
                                        <span class="sidebar-header-options clearfix">                                           
                                        </span><span class="sidebar-header-title">Master</span>
                                    </li>

                                    foreach (var item in objMaster)
                                    {
                                        <li>@Html.Raw(@item.PageLink)</li>
                                    }
                                }

                                @if (objTaxMaster.Count > 0)
                                {
                                    <li class="sidebar-header">
                                        <span class="sidebar-header-options clearfix">
                                        </span><span class="sidebar-header-title">Tax Master</span>
                                    </li>

                                    foreach (var item in objTaxMaster)
                                    {
                                        <li>@Html.Raw(@item.PageLink)</li>
                                    }
                                }

                                @if (objUtility.Count > 0)
                                {
                                    <li class="sidebar-header">
                                        <span class="sidebar-header-options clearfix">
                                           
                                        </span><span class="sidebar-header-title">Utility</span>
                                    </li>

                                    foreach (var item in objUtility)
                                    {
                                        <li>@Html.Raw(@item.PageLink)</li>
                                    }
                                }

                                @if (objSubscription.Count > 0)
                                {
                                    <li class="sidebar-header">
                                        <span class="sidebar-header-options clearfix">                                           
                                        </span><span class="sidebar-header-title">Subscription</span>
                                    </li>
                                    foreach (var item in objSubscription)
                                    {
                                        <li>@Html.Raw(@item.PageLink)</li>
                                    }
                                }
                               

                               

                                @if (MacMacmartsBL.ViewModel.UsersVM._Role == "A")
                                {
                                    <li class="sidebar-header" style="display:none">
                                        <span class="sidebar-header-options clearfix">
                                            @*<a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings">
                                                    <i class="fa fa-address-book-o"></i>
                                                </a>*@
                                        @*</span><span class="sidebar-header-title">Emails</span>
                                    </li>
                                    <li  style="display:none"><a href="/ProjectTracker/Email"><i class="fa fa-users sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Track Email</span></a></li>
                                }
                            </ul>*@
                        @*}*@
                        <ul class="sidebar-nav">
                       
                          
                                <li class="sidebar-header">
                                    <span class="sidebar-header-options clearfix">
                                    </span><span class="sidebar-header-title" ><a href="#" id="lnkUserMaster" onclick="GetUserList()" title="User Master">User Master</a></span>
                                    <span class="sidebar-header-title"><a href="#" id="lnkSupplierMaster" onclick="GetSupplierListData()" title="User Master">Supplier Master</a></span>
                                    <span class="sidebar-header-title"><a href="#" id="lnkSupplierMaster" onclick="GetSupplierUsersData()" title="User Master">Supplier Users</a></span>
                                    <span class="sidebar-header-title"><a href="#" id="lnkSupplierMaster" onclick="GetUOMMasterData()" title="User Master">UOM Master</a></span>
                                    <span class="sidebar-header-title"><a href="#" id="lnkSupplierMaster" onclick="GetQuotationJustificationData()" title="User Master">Quotation Justification</a></span>
                                    <span class="sidebar-header-title"><a href="#" id="lnkSupplierMaster" onclick="GetQuestionnaireData()" title="User Master">Questionnaire</a></span>
                                </li>

                           

                                </ul>
</div>
                    <!-- END Sidebar Navigation -->

                </div><!--EN dof sidebar-content -->
            </div><!--En dof sidebar-scroll -->
        </div><!--EN dof sidebar -->

        <div id="main-container">
            <header class="navbar navbar-inverse">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">
                    <li>
                        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();"><i class="fa fa-bars fa-fw"></i></a>
                    </li>
                    <li class="dropdown" style="display:none;">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="gi gi-settings"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-custom dropdown-options">
                            <li class="dropdown-header text-center">Header Style</li>
                            <li>
                                <div class="btn-group btn-group-justified btn-group-sm">
                                    <a href="javascript:void(0)" class="btn btn-primary" id="options-header-default">Light</a>
                                    <a href="javascript:void(0)" class="btn btn-primary" id="options-header-inverse">Dark</a>
                                </div>
                            </li>
                            <li class="dropdown-header text-center">Page Style</li>
                            <li>
                                <div class="btn-group btn-group-justified btn-group-sm">
                                    <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style">Default</a>
                                    <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style-alt">Alternative</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- END Left Header Navigation -->
                <!-- Right Header Navigation -->
                <ul class="nav navbar-nav-custom pull-right">
                    <li>

                        <a href="javascript:void(0)" onclick="updateNotification();">
                            <i class="gi gi-bell"></i>
                            <span id="sp_notificationcount" class="label label-primary label-indicator animation-floating">0</span>
                        </a>
                    </li>
                    <!-- User Dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="#" alt="@DemoMacmartsBL.ViewModel.UserVM._UserName"> <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                            <li class="dropdown-header text-center">Account</li>
                            <li>
                                <a href="/MyProfile">
                                    <i class="fa fa-user fa-fw pull-right"></i>
                                    Profile
                                </a>
                                <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                                @*<a href="#modal-user-settings" data-toggle="modal">
                                        <i class="fa fa-cog fa-fw pull-right"></i>
                                        Settings
                                    </a>*@
                            </li>
                            <li class="divider"></li>
                            <li>
                                @*<a href="/MyProfile/Lock"><i class="fa fa-lock fa-fw pull-right"></i> Lock Account</a>*@
                                <a href="/Logout/Index"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <ul class="sidebar-section sidebar-themes clearfix sidebar-nav-mini-hide">
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-night themed-border-night" onclick="ChangeTheme('night.css');" data-theme="~/css/themes/night.css" data-toggle="tooltip" title="Night"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-amethyst themed-border-amethyst" onclick="ChangeTheme('amethyst.css');" data-theme="~/css/themes/amethyst.css" data-toggle="tooltip" title="Amethyst"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-modern themed-border-modern" onclick="ChangeTheme('modern.css');" data-theme="~/css/themes/modern.css" data-toggle="tooltip" title="Modern"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-autumn themed-border-autumn" onclick="ChangeTheme('autumn.css');" data-theme="~/css/themes/autumn.css" data-toggle="tooltip" title="Autumn"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-flatie themed-border-flatie" onclick="ChangeTheme('flatie.css');" data-theme="~/css/themes/flatie.css" data-toggle="tooltip" title="Flatie"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-spring themed-border-spring" onclick="ChangeTheme('spring.css');" data-theme="~/css/themes/spring.css" data-toggle="tooltip" title="Spring"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-fancy themed-border-fancy" onclick="ChangeTheme('fancy.css');" data-theme="~/css/themes/fancy.css" data-toggle="tooltip" title="Fancy"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-fire themed-border-fire" onclick="ChangeTheme('fire.css');" data-theme="~/css/themes/fire.css" data-toggle="tooltip" title="Fire"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-coral themed-border-coral" onclick="ChangeTheme('coral.css');" data-theme="~/css/themes/coral.css" data-toggle="tooltip" title="Coral"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-lake themed-border-lake" onclick="ChangeTheme('lake.css');" data-theme="~/css/themes/lake.css" data-toggle="tooltip" title="Lake"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-forest themed-border-forest" onclick="ChangeTheme('forest.css');" data-theme="~/css/themes/forest.css" data-toggle="tooltip" title="Forest"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-waterlily themed-border-waterlily" onclick="ChangeTheme('waterlily.css');" data-theme="~/css/themes/waterlily.css" data-toggle="tooltip" title="Waterlily"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-emerald themed-border-emerald" onclick="ChangeTheme('emerald.css');" data-theme="~/css/themes/emerald.css" data-toggle="tooltip" title="Emerald"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-blackberry themed-border-blackberry" onclick="ChangeTheme('blackberry.css');" data-theme="~/css/themes/blackberry.css" data-toggle="tooltip" title="Blackberry"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="themed-background-dark-blackberry" style="background-color:#1bbae1;border-color:#1bbae1;" onclick="ChangeTheme('');" data-theme="~/css/themes.css" data-toggle="tooltip" title="Default"></a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <!-- END User Dropdown -->
                </ul>
                <!-- END Right Header Navigation -->
            </header>

            <div id="page-content">

                @RenderBody()

            </div><!--En dof page-content -->
            <!--footer -->
            <footer class="clearfix">
                <div class="pull-right">
                    Last Login : Last Login
                </div>
                <div class="pull-left">

                </div>
            </footer>


        </div><!--en dof main-container -->
    </div><!--EN dof sidebar-partial -->
</div><!--End od page-wrapper -->

<div id="divErrorMsg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close newpopup" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div id="modalHeader" class="top_header_popup">
            </div>
            <div id="divModalContainer">
                <p id="lblErrorMsg"></p>
                <div id="divModalFooterOk" class="modal-footer" style="display:none;align-items:center;">
                    <button type="button" data-dismiss="modal" id="btnModalOk">Ok</button>
                </div>
                <div id="divModalFooterYesNo" style="display:none;">
                    <button type="button" id="btnModalYes" data-dismiss="modal">Yes</button>
                    &nbsp;&nbsp;
                    <button type="button" id="btnModalNo" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cust-loader2" id="loadingDiv" style="position: fixed; z-index: 10000000; height: auto !important; display: block;">
    <div class="loading-content">
        <i class="fa fa-spinner fa-3x fa-spin text-primary"></i>
        <br><br><br><br><br><br>
        <div id="divloadermsg" class="text-primary h2">@*<strong>Loading...</strong>*@</div>
    </div>
</div>

<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
<!--<script src="~/js/jquery-1.12.0.min.js"></script>-->
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/app.js"></script>
<link href="~/css/alertmsg.css" rel="stylesheet" />
<script src="~/js/pages/common.js"></script>
<!-- Load and execute javascript code used only in this page -->
@*<script src="~/js/pages/tablesDatatables.js"></script>
    <script>$(function () { TablesDatatables.init('#lineitems-datatable'); });</script>
    <script>$(function () { TablesDatatables.init('#template-datatable'); });</script>
    <script>$(function () { TablesDatatables.init('#questionnaire-datatable'); });</script>
    <script>$(function () { TablesDatatables.init('#downpayreq-datatable'); });</script>*@
<script>
        function ChangeTheme(theme) {
            document.getElementById('lnktheme').href = '../css/themes/' + theme;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/MyProfile/UpdateTheme",
                data: "{themename : '" + theme + "'}",
                success: function (data) {

                },
                error: function (error) {
                    ShowMessage(error, "no", "Change Theme");
                }
            });
        }

</script>
<script type="text/javascript">

        function updateNotification() {
            //alert('');
            //debugger;
            App.sidebar('toggle-sidebar-alt', 'toggle-other'); this.blur();

            $('#noti_content').empty();
            $('#noti_content').append($("<div class='alert alert-alt'><br>Loading..</div>"));

            $.ajax({
                type: 'GET',
                url: '/Dashboard/GetNotificationContacts',
                success: function (response) {
                    debugger;
                    $('#noti_content').empty();

                    $.each(response, function (index, value) {
                        console.log("sss");
                        if (value.isRead == false) {
                            $('#noti_content').append($("<div class='alert alert-alt'><small>" + value.RelativeTime + "</small><br><i class='fa fa-circle'></i> <a href='javascript:MarkAsRead(" + value.id + "," + value.RequisitionId + ");'> " + value.Notification + "</a></div>"));
                        }
                        else {
                            $('#noti_content').append($("<div class='alert alert-alt'><small>" + value.RelativeTime + "</small><br><i class='fa fa-circle-o'></i> <a href='javascript:MarkAsRead(" + value.id + "," + value.RequisitionId + ");'> " + value.Notification + "</a></div>"));
                        }
                    });

                    if (response.length == 0) {
                        $('#noti_content').append($("<div class='alert alert-alt'><br>No Notification available</div>"));
                    }
                    else {
                        $('#noti_content').append($("<div class='alert alert-alt'><a href='/Notification/Index' class='btn btn-xs btn-primary'><i class='fa fa-check'></i> View All notifications</a></div>"));
                    }
                },
                error: function (error) {
                    debugger;
                    console.log(error);
                }
            });
        }

        $(function () {
            //debugger;
            // Click on notification icon for show notification
            //$('.noti').click(function (e) {
            //    //debugger;
            //    e.stopPropagation();
            //    $('.noti-content').show();
            //    var count = 0;
            //    //count = parseInt($('#sp_notificationcount').html()) || 0;
            //    //only load notification if not already loaded
            //    //if (count > 0) {
            //    updateNotification();
            //    //}
            //    //$('span.count', this).html('&nbsp;');
            //});
            // hide notifications
            //$('html').click(function () {
            //    $('.noti-content').hide();
            //});
            // update notification



            // update notification count
            function updateNotificationCount() {
                var count = 0;
                //count = parseInt($('#sp_notificationcount').html()) || 0;
                //count++;
                //$('#sp_notificationcount').html(count);
                GetNotificationCount();

                $.ajax({
                    type: 'GET',
                    url: '/Dashboard/RegisterNotification',
                    success: function (response) {
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            //var notificationHub = $.connection.NotificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });

            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {
                console.log(message);
                if (message && message.toLowerCase() == "added") {
                    updateNotificationCount();
                }
            }

        });

        function MarkAsRead(id, RequisitionId) {
            debugger;
            jQuery.ajax({
                url: '/Dashboard/MarkAsRead',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: id, RequisitionId: RequisitionId }),
                success: function (data) {
                    debugger;
                    window.location.href = data.PageName;
                },
                error: function (xhr) {
                    //alert(xhr);
                    debugger;
                }
            });

        }

        $(document).ready(function () {
            //debugger;
            GetNotificationCount();

        });
        function GetNotificationCount() {
            $.ajax({
                type: 'GET',
                url: '/Dashboard/GetNotificationCount',
                success: function (response) {
                    if (response == "") {
                        $('#sp_notificationcount').hide();
                    }
                    else {
                        $('#sp_notificationcount').show();
                        $('#sp_notificationcount').html(response);
                    }

                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
</script>
<script language="javascript">
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        debugger;
        var from = getParameterByName('from');
        if (from != null) {
            //updateNotification();
        }
        var cmt = getParameterByName('cmt');
        if (cmt != null) {
            ShowAccordianPanel(this, '#div_CommentsList');
            var v = getParameterByName('v');
            var r = getParameterByName('r');
            if (v != null && r != null) {
                LoadComments(v, r);

                $(window).load(function () {
                    $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                });
            }
        }
        function GetUserList()
        {
            debugger;
            window.location.href = "/Users/Users/UserList";
        }
        function GetSupplierListData() {
            debugger;
            window.location.href = "/Suppliers/Suppliers";
        }
        

        function GetSupplierUsersData() {
            debugger;
            window.location.href = "/Suppliers/Suppliers/SupplierUsers";
        }
        
        function GetUOMMasterData() {
            debugger;
            window.location.href = "/UOM";
        }
        
        function GetQuotationJustificationData() {
            debugger;
            window.location.href = "/QuotationJustification";
        }
        
        function GetQuestionnaireData() {
            debugger;
            window.location.href = "/Questionnaire";
        }
</script>
</body>

</html>

