﻿
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="error-container" style="background-color:#394263 !important;">
    <div class="error-options">
        <h3>@*<i class="fa fa-chevron-circle-left text-muted"></i> <a href="/ProjectTracker/RequisitionList">Go Back</a>*@</h3>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1 class="animation-fadeIn"><i class="fa fa-times-circle-o text-muted"></i> </h1>
            <h2 class="h3">@ViewBag.Message</h2>
        </div>
    </div>
</div>


