﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div id="error-container" style="background-color:#394263 !important; padding:46px 22px">
    @*<div class="error-options">
            <h3><i class="fa fa-chevron-circle-left text-muted"></i> <a href="/ProjectTracker/RequisitionList">Go Back</a></h3>
        </div>*@
    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1><i class="fa fa-exclamation-triangle text-info animation-pulse"></i> </h1>
            <h2 class="h3 text-left">
                Whoops! we ran into a problem...<br />
                Please describe in brief what you were trying to do:<br>

            </h2>
            <textarea class="text-left" id="txtarea" style="margin: 0px; height: 100px; width: 100%;"></textarea>
            <br />
            <br />
            <button type="button" id="btnErrSubmit" class="col-sm-2 btn btn-sm btn-warning" onclick="SubmitError();"><i class="fa fa-check"> </i>&nbsp;Submit</button>
            <br />
            <div>
                <h2 class="h3 text-left" style="font-size:medium">
                    For urgent issue please contact site admins:
                    <br />
                    @Html.Raw(MacMacmartsBL.ViewModel.UsersVM._SiteAdminNameEmail)
                </h2>
            </div>
        </div>

    </div>

</div>
<script>
    function SubmitError() {
        debugger;
        var ErrorInfo = txtarea.value;
        if (ErrorInfo.trim() == "") {
            ShowMessage('Please enter error info', "no", "Error Information");

        }
        else {
            $.post('/CustomError/UpdateErrorInfo', { ErrorInfo: ErrorInfo }, function (data) {

                if (data.Result == "OK") {

                    ShowMessage('Thank you for your feedback', "yes", "Error Information", "/Dashboard/Dashboard/Welcome");

                }

            });
        }
    }
</script>

