﻿@model DemoMacmartsBL.ViewModel.UserVM
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">

        <div class="block full">
            <div class="block-title">
                <h2><label>Add User</label></h2>
            </div>
            <div id="divaddClientUser">
                <div class="block">
                    <!-- Input Sizes Title -->
                    <div class="block-title">
                        <h2>@*Add User*@</h2>
                    </div>
                    <!-- END Input Sizes Title -->
                    <!-- Input Sizes Content -->
                    <form class="form-horizontal form-bordered">
                        @Html.HiddenFor(c => c.UserId)
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="example-input-small">First Name</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(c => c.FirstName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "FirstName" })
                            </div>
                            <label class="col-sm-1 control-label" for="example-input-small">Last Name</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(c => c.LastName, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "LastName" })
                            </div>

                            <label class="col-sm-1 control-label" for="example-input-small">Phone No</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(c => c.Phone, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "PhoneNo" })
                            </div>
                            <label class="col-sm-1 control-label" for="example-input-small">Phone2</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(c => c.AltPhoneNo, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "AltPhone" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="example-input-small">Email</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(c => c.EmailId, new { @name = "example-text-input", @class = "form-control  input-sm", @placeholder = "Email" })
                            </div>

                            <label class="col-sm-1 control-label" for="example-input-small">Role</label>
                            <div class="col-sm-2">
                                @if (Model.UserRole != null)
                                {
                                    <select id="ddlUserRole" class="form-control">
                                        <option value="0">Select Role</option>
                                       
                                            @if (Model.UserRole == "LA")
                                            {
                                                <option selected value="LA">Admin</option>
                                            }
                                            else
                                            {
                                                <option selected value="GU">General User</option>
                                            }
                                                                           </select>
                                }
                                else
                                {
                                <select id="ddlUserRole" class="form-control">
                                    <option value="0">Select Role</option>
                                    <option value="LA">Admin</option>
                                    <option value="GU">General User</option>
                                  
                                </select>
                                }
                            </div>

                            @if (Model.UserId != 0)
                            {
                                <label class="col-sm-1 control-label" for="example-input-small">Is Active</label>
                                <div>
                                    <label class="switch switch-primary hold_not">
                                        @if (Model.isActive == true)
                                        {
                                            <input type="checkbox" id='chkIsUserActive_@Model.UserId' class="isuseractive" name="chkUserActive" value="1" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox" id='chkIsUserActive_@Model.UserId' class="isuseractive" name="chkUserActive" value="0">
                                        }
                                        <span></span>
                                    </label>
                                </div>
                            }
                        </div>

                        <div class="form-group form-actions">
                            <div class="col-sm-12 col-sm-offset-5">
                                @if (Model.UserId == 0)
                                {
                                    <button type="button" id="btnsubmit" onclick="AddUser()" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Submit</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-warning" id="btnupdate" onclick="return UpdateUser()"><i class="fa fa-check"></i> Save</button>
                                    <button type="button" class="btn btn-info" id="btncancel" onclick="return cancelUpdateUser()"><i class="fa fa-backward"></i> Back</button>
                                }

                            </div>
                        </div>
                    </form>
                    <!-- END Input Sizes Content -->
                </div>
            </div>
            <div class="clearfix"></div>

        </div><!--End of block -->

    </div><!--En dof col-lg-12 -->
</div><!--End of row -->
<script type="text/javascript">
    function AddUser()
    {
        var emailReg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        debugger;
        if ($('#FirstName').val() == '') {
            ShowMessage('Please enter First Name.', "no", "Client Users");
            $('#FirstName').focus();
            return false;
        }
        else if ($('#LastName').val() == '') {
            ShowMessage('Please enter Last Name.', "no", "Users");
            $('#LastName').focus();
            return false;
        }
        else if ($('#EmailId').val() == '') {
            ShowMessage('Please enter Email Id', "no", "Users");
            $('#EmailId').focus();
            return false;
        }

        else if (!emailReg.test($('#EmailId').val())) {
            ShowMessage('Please enter valid EmailId', "no", "Users");
            $('#EmailId').focus();
                return false;
            }
        else if ($('#ddlUserRole').val() == 'NA' ) {
            ShowMessage('Please select Role.', "no", "Users");
            $('#Role').focus();
            return false;
        }
            //else if ($('#ReportingId').val() == '') {
            //    ShowMessage('Please select Reporting To.', "no", "Client Users");
            //    $('#ReportingId').focus();
            //    return false;
            //}
        else {

            var _ptModel = {};
            _ptModel.UserId = $("#userid").val() == null ? "0" : $("#userid").val();

            _ptModel.FirstName = $("#FirstName").val();
            _ptModel.LastName = $("#LastName").val();
            _ptModel.EmailId = $("#EmailId").val();
            //_ptModel.Email2 = $("#Email2").val();
            //_ptModel.Phone1 =    $("#Phone1").val();
            //_ptModel.Phone2 =    $("#Phone2").val();
            _ptModel.UserRole = $("#ddlUserRole").val();
            //_ptModel.ReportingId = $("#ReportingId").val();

            //_ptModel.isActive = document.getElementById('chkIsUserActive').checked;
            var model = JSON.stringify(_ptModel);

            $.post('/Users/Users/CreateUser', { model: model }, function (data) {

                if (data.Result == "OK") {
                    debugger;
                    //$("#divClientUsergrid").load('/Users/Users/UserList', function (data) {
                    //    $("#divClientUsergrid").html(data);
                        window.location.href = "/Users/Users/UserList";
                        ShowMessage('User saved successfully', "yes", "Users"); cancel();


                }
                else { ShowMessage(data.Result, "no", "Users"); }

            });
        }
    }
    function UpdateUser() {
        var emailReg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        if ($('#FirstName').val() == '') {
            ShowMessage('Please enter First Name.', "no", "Users");
            $('#FirstName').focus();
            return false;
        }
        else if ($('#LastName').val() == '') {
            ShowMessage('Please enter Last Name.', "no", "Users");
            $('#LastName').focus();
            return false;
        }

        else if ($('#EmailId').val().trim() == '') {
            ShowMessage('Please enter Email Id', "no", "Users");
            $('#EmailId').focus();
            return false;
        }
        else if (!emailReg.test($('#EmailId').val())) {
            ShowMessage('Please enter valid EmailId', "no", "Users");
            $('#EmailId').focus();
            return false;
        }
        else if ($('#ddlUserRole').val() == '0') {
            ShowMessage('Please Select USer Role', "no", "Users");
            $('#ddlUserRole').focus();
            return false;
        }
        else {
            debugger;
            var _ptModel = {};
            _ptModel.UserId = $("#UserId").val() == null ? "0" : $("#UserId").val();

            _ptModel.FirstName = $("#FirstName").val();
            _ptModel.LastName = $("#LastName").val();
            _ptModel.EmailId = $("#EmailId").val();
            _ptModel.Phone = $("#Phone").val();

            _ptModel.UserRole = $("#ddlUserRole").val();
            _ptModel.isActive = document.getElementById('chkIsUserActive_' + _ptModel.UserId).checked;
            var model = JSON.stringify(_ptModel);

            $.post('/Users/Users/UpdateUser', { model: model }, function (data) {

                if (data.Result == "OK") {
                    debugger;
                    ShowMessage('User updated successfully', "yes", "Users");
                }
                else { ShowMessage(data.Result, "no", "Add User"); }

            });
        }
    }
</script>