﻿@model List<DemoMacmartsBL.ViewModel.UserVM>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/uiTables.js"></script>
<script>$(function () { UiTables.init(); });</script>
<script src="~/js/Pages/Supplier.js"></script>

<div class="content-header">
    <div class="header-section">
        <h1><i class="gi gi-settings"></i>Users</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="block full">
            <div class="block-title" style="padding:5px 0 5px 5px">
                <a href="/Users/Users/Add" class="btn btn-danger"><i class="fa fa-plus"></i> Add new User</a>
                <div class="block-options pull-right">

                </div>
            </div>

            <div class="table-responsive">
                <table id="supplier-datatable" class="table table-vcenter table-condensed table-bordered macmart-datatable">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.EmailId</td>
                                <td>@item.Phone</td>
                                <td>
                                    @if (item.UserRole == "L")
                                    {
                                        <span>Administrator</span>
                                    }
                                    else if (item.UserRole == "G")
                                    {
                                        <span>General User</span>
                                    }
                                   
                                </td>

                                <td>
                                    @if (item.isActive == true)
                                    {
                                        <span style="color:green;">Active</span>
                                    }
                                    else
                                    {
                                        <span style="color:red;">InActive</span>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="/Users/Users/Update?id=@item.UserId" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                        @*<a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>*@
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div><!--End of block -->

    </div><!--En dof col-lg-12 -->
</div><!--End of row -->

