﻿@model DemoMacmartsBL.ViewModel.QuestionnaireVM
<div class="row">
    <div class="col-md-12">
        <!-- Input Grid Block -->
        <div class="block">
            <!-- Input Grid Title -->
            <div class="block-title">
                <h2><strong>Add</strong> Question</h2>
            </div>
            <!-- END Input Grid Title -->
            <!-- Input Grid Content -->
            <form class="form-horizontal form-bordered">
                @if (Model != null)
                {
                    <input type="hidden" value="@Model.id" id="hidQuestionId" name="hidQuestionId" />
                }
                else
                {
                    <input type="hidden" value="0" id="hidQuestionId" name="hidQuestionId" />
                }
                <div class="form-group">
                    <div class="col-xs-3">
                        @if (Model != null)
                        {
                            <input type="text" maxlength="10" id="txtQuestionNo" name="txtQuestionNo" value="@Model.QuestionNo" class="form-control" style="width:100%" placeholder="Enter Question No">
                        }
                        else
                        {
                            <input type="text" maxlength="10" id="txtQuestionNo" value="" name="txtQuestionNo" class="form-control" style="width:100%" placeholder="Enter Question No">
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        @if (Model != null)
                        {
                            <input type="text" id="txtQuestion" name="txtQuestion" value="@Model.QuestionText" class="form-control" style="width:100%" placeholder="Enter Question">
                        }
                        else
                        {
                            <input type="text" id="txtQuestion" value="" name="txtQuestion" class="form-control" style="width:100%" placeholder="Enter Question">
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        @if (Model == null)
                        {
                            <select id="QuestionType" style="width:20%" class="form-control">
                                <option value="Q">Question</option>
                                <option value="R">Reception</option>
                                <option value="O">Other</option>
                            </select>
                        }
                        else
                        {
                            <select id="QuestionType" style="width:20%" class="form-control">
                                @if (Model.QuestionType == "Q")
                                {
                                    <option selected="selected" value="Q">Question</option>
                                    <option value="R">Reception</option>
                                    <option value="O">Other</option>
                                }
                                else if (Model.QuestionType == "R")
                                {
                                    <option value="Q">Question</option>
                                    <option selected="selected" value="R">Reception</option>
                                    <option value="O">Other</option>
                                }
                                else if (Model.QuestionType == "O")
                                {
                                    <option value="Q">Question</option>
                                    <option value="R">Reception</option>
                                    <option selected="selected" value="O">Other</option>
                                }
                                else
                                {
                                    <option value="Q">Question</option>
                                    <option value="R">Reception</option>
                                    <option value="O">Other</option>
                                }
                            </select>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <span style="font-weight:bold;padding-left:5px;" id="spanNotifn">Input Text &nbsp;</span>
                        <label class="switch switch-primary">
                            @if (Model.Inputdata != null)
                            {
                                if (Model.Inputdata == true)
                                {
                                    <input type="checkbox" id='chkQ' class="question-settings" name="chkQ" checked value="0">
                                }
                                else
                                {
                                    <input type="checkbox" id='chkQ' class="question-settings" name="chkQ" value="1">
                                }
                            }
                            else
                            {
                                <input type="checkbox" id='chkQ' class="question-settings" name="chkQ" checked value="0">
                            }
                            <span></span>
                        </label>

                        @if (Model.Inputdata != null)
                        {
                            if (Model.Inputdata == true)
                            {
                                <span style="font-weight:bold;padding-left:5px;" id="spanYesNoQ">On</span>

                            }
                            else
                            {
                                <span style="font-weight:bold;padding-left:5px;" id="spanYesNoQ">Off</span>

                            }
                        }
                        else
                        {
                            <span style="font-weight:bold;padding-left:5px;" id="spanYesNoQ">On</span>
                        }
                    </div>
                </div>





                <div class="form-group form-actions">
                    <div class="col-xs-12">
                        @if (Model.id == 0)
                        {
                            <button type="button" class="btn btn-primary" id="btnsubmit" onclick="return validate()"><i class="fa fa-angle-right"></i> Submit</button>
                            <button type="button" class="btn btn-warning" id="btnupdate" onclick="return Updatevalidate()" style="display:none"><i class="fa fa-angle-right"></i> Update</button>
                            <button type="button" class="btn btn-danger" id="btncancel" onclick="return cancel()" style="display:none"><i class="fa fa-angle-right"></i> Cancel</button>

                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" id="btnsubmit" onclick="return validate()" style="display:none"><i class="fa fa-angle-right"></i> Submit</button>
                            <button type="button" class="btn btn-warning" id="btnupdate" onclick="return Updatevalidate()"><i class="fa fa-angle-right"></i> Update</button>
                            <button type="button" class="btn btn-danger" id="btncancel" onclick="return cancel()"><i class="fa fa-angle-right"></i> Cancel</button>
                        }

                    </div>
                </div>
            </form>

            <!-- END Input Grid Content -->
        </div>
        <!-- END Input Grid Block -->
    </div>
</div>
<script>
    function validate()
    {
        debugger;
        if ($('#txtQuestionNo').val() == '') {
            ShowMessage('Please enter Question No.', "no", "Questionnaire");
            $('#txtQuestionNo').focus();
            return false;
        }
        else if ($('#txtQuestion').val() == '') {
            ShowMessage('Please enter Question.', "no", "Questionnaire");
            $('#txtQuestion').focus();
            return false;
        }
        else
        {
            var ItemName = $('#txtQuestionNo').val();
            var Description = $('#txtQuestion').val();
            var QuestionType = $('#QuestionType').val();
            var Inputdata = false;
            if (document.getElementById('chkQ').checked == true)
            { Inputdata = true; }
            else
            { Inputdata = false; }

            jQuery.ajax({
                url: '/questionnaire/Addquestionnaire',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ ItemName: ItemName, Description: Description, QuestionType: QuestionType, Inputdata: Inputdata }),
                success: function (data) {
                    debugger;
                    if (data == "success") {
                        ShowMessage('Question added successfully', "yes", "Questionnaire");
                        $('#txtQuestionNo').val("");
                        $('#txtQuestion').val("");
                        $('#QuestionType').val("Q");
                        $("#divQuestionnairegrid").load("/questionnaire/LoadAllquestionnaires", function (data) {
                            $('#divQuestionnairegrid').html(data);
                        });

                    }
                    else {
                        ShowMessage(data, "no", "Questionnaire");
                    }
                },
                error: function (xhr) {
                    ShowMessage('Some error Occurred', "no", "Questionnaire");

                }
            });
        }
    }

    function Updatevalidate() {
        debugger;
        if ($('#txtQuestionNo').val() == '') {
            ShowMessage('Please enter Question.', "no", "Questionnaire");
            $('#txtQuestionNo').focus();
            return false;
        }
        else if ($('#txtQuestion').val() == '') {
            ShowMessage('Please enter Description.', "no", "Questionnaire");
            $('#txtQuestion').focus();
            return false;
        }
        else {
            var ItemName = $('#txtQuestionNo').val();
            var Description = $('#txtQuestion').val();
            var QuestionType = $('#QuestionType').val();
            var id = $('#hidQuestionId').val();
            var Inputdata = false;
            if (document.getElementById('chkQ').checked == true)
            { Inputdata = true; }
            else
            { Inputdata = false; }
            jQuery.ajax({
                url: '/questionnaire/Updatequestionnaire',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ ItemName: ItemName, Description: Description, QuestionType: QuestionType, id: id, Inputdata: Inputdata }),
                success: function (data) {
                    debugger;
                    if (data == "success") {
                        ShowMessage('Questionnaire updated successfully', "yes", "Questionnaire");

                        document.getElementById('btnupdate').style.display = 'none';
                        document.getElementById('btnsubmit').style.display = 'block';
                        document.getElementById('btncancel').style.display = 'none';

                        $('#txtQuestionNo').val("");
                        $('#txtQuestion').val("");

                        $("#divQuestionnairegrid").load("/Questionnaire/LoadAllQuestionnaires", function (data) {
                            $('#divQuestionnairegrid').html(data);
                        });

                    }
                    else {
                        ShowMessage(data, "no", "Questionnaire");
                    }
                },
                error: function (xhr) {
                    ShowMessage('Some error Occurred', "no", "Questionnaire");

                }
            });
        }
    }
    function cancel()
    {
        $('#txtQuestionNo').val("");
        $('#txtQuestion').val("");
        $('#txtQuestion').val("Q");

        document.getElementById('btnupdate').style.display = 'none';
        document.getElementById('btnsubmit').style.display = 'block';
        document.getElementById('btncancel').style.display = 'none';
    }
    $("#chkQ").on('change', function () {

        //$("#CostCenterId option").remove();
        if (document.getElementById('chkQ').checked == true) {

            document.getElementById('spanYesNoQ').innerHTML = 'On';
        }
        else {

            document.getElementById('spanYesNoQ').innerHTML = 'Off';

        }
    });
</script>