﻿@model DemoMacmartsBL.ViewModel.QuestionnaireListVM
<script src="~/js/uiTables.js"></script>
<script>$(function () { UiTables.QuestionGrid(); });</script>
<div class="table-responsive">
    <table id="questiongrid-datatable" class="table table-vcenter table-condensed table-bordered">

        <thead>
            <tr>
                <th>Question No</th>
                <th>Question</th>
                <th>Question Type</th>
                <th>Input Text</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.QuestionnaireList != null)
            {
                foreach (var item in Model.QuestionnaireList)
                {
                    <tr>
                        <td>@item.QuestionNo</td>
                        <td>@item.QuestionText   </td>
                        <td>
                            @if (item.QuestionType == "Q")
                            {
                                <span>Question</span>
                            }
                            else if (item.QuestionType == "R")
                            {
                                <span>Reception</span>
                            }
                            else if (item.QuestionType == "O")
                            {
                                <span>Other</span>
                            }
                        </td>
                        <td>

                            @if (item.Inputdata == true)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }

                        </td>

                        <td class="text-center">
                            <div class="btn-group">
                                <div class="btn-group">
                                    <a href="javascript:void(0)" onclick="javascript:EditQuestionnaire(@item.id);" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-info">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick="javascript:DeleteQuestionnaire(@item.id);" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {

            }

        </tbody>
    </table>
</div>



<script>
    function EditQuestionnaire(id)
    {
        $("#divaddQuestionnaire").load("/Questionnaire/LoadSingleQuestionnaire?id="+id, function (data) {
            $('#divaddQuestionnaire').html(data);
        });
    }
    function DeleteQuestionnaire(id) {
        jQuery.ajax({
            url: '/Questionnaire/DeleteQuestionnaire',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({id:id }),
            success: function (data) {
                debugger;
                if (data == "success") {
                    ShowMessage('Question deleted successfully', "yes", "Questionnaire");

                    $("#divQuestionnairegrid").load("/Questionnaire/LoadAllQuestionnaires", function (data) {
                        $('#divQuestionnairegrid').html(data);
                    });

                }
                else {
                    ShowMessage(data, "no", "Questionnaire");
                }
            },
            error: function (xhr) {
                ShowMessage('Some error Occurred', "no", "Questionnaire");

            }
        });
    }
</script>