﻿@model DemoMacmartsBL.ViewModel.QuestionnaireMainVM
@{
    ViewBag.Title = "Questionnaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="block full">
            <div class="block-title">
                <h2><label>Questionnaire</label></h2>
            </div>
            <div id="divaddQuestionnaire">
                @Html.Partial("_QuestionnaireAdd", Model.Questionnaire)
            </div>
            <div class="clearfix"></div>
            <div id="divQuestionnairegrid">
                @Html.Partial("_QuestionnaireGrid", Model.QuestionnaireList)
            </div>


        </div><!--End of block -->

    </div><!--En dof col-lg-12 -->
</div><!--End of row -->
